<head th:include="head"></head>
<body> 
    <div class="main-test-header-container" id="header">
        <div class="main-test-header"> 
            <h1>Окшоштуктар жана сүйлөмдөрдү толуктоо</h1>
            <h3 id="timer"> </h3>
        </div>   
    </div>    

    

    <div class="container" id="questions">

           
        <input type="checkbox" id="raz" class="del"/>
        <label for="raz" class="del">Нускаманы көрсөтүү</label>
        
        <div>
            <h2>Нускама</h2>
            Ар бир тапшырма беш жуп сөздөн турат. Карараак түстө басылган жуп эки сөздүн ортосунда боло турган мамиленин үлгүсүн көрсөтүп турат.
            Ушул жаптагы сөздөрдүн ортосундагы мамилени аныктап, андан кийин жооп вариантынын ичинен дал ошондой мамиледе болгон жуп сөздөрдү тандап алыңыз.
             Тандаган жообуңуздагы сөздөрдүн орун-тартиби үлгүлүү жуптагыдай болушу керек.
             <hr>
            </br>
        </div>

        <div class="tests-cards-wrapper">

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>1.&#160&#160  жол : жүрүү &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  дептер : жазуу
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  күн : жаркыроо
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  кулпу : илүү
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  гүл : өсүү   
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>2.&#160&#160  бий : вальс &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  бий : искусство
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  бий : дискотека
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  бий : балет
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  бий : танго
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>3.&#160&#160  бет : кежиге &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  мурун : ооз
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  көкүрөк : арка
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  баш : чач
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  кол : бут
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>4.&#160&#160  кошуу : кыскартуу &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  бузуу : сындыруу
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  үнөмдөө : коротуу
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  өнүктүрүү : чоңойтуу
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  үйрөтүү : билүү
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>5.&#160&#160  каша : таруу &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  ун : буудай
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  как : өрүк
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  каймак : сүт
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  шорпо : буурчак
                            </form>  
                </div>     
            </div>
            <!--// Card-->
        
            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>6.&#160&#160  жоош : токтоо &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  жупуну : жөнөкөй
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  жапыз : тайыз
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  кычкыл : ачуу
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  жоомарт : мээримдүү
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>7.&#160&#160  үй : куруу &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  завод : иштөө
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  товар : сатуу
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  сүрөт : тартуу
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  телевизор : көрүү
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>8.&#160&#160  күн : түш &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  кыш : январь
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  күз : ноябрь
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  жай : июнь
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  жаз : май
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>9.&#160&#160  чоң : килейген &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  кичине : зор
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  кенен : көз жеткис
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  бийик : жапыз
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  узун : кызыксыз
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>10.&#160&#160  кубаныч : күлкү &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  жаш : кайгы
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  тыным : чарчоо
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  суктануу : жийиркенич
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  ачуулануу : кыйкырык
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>11.&#160&#160  убада : ант &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  кечирим : айып
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  келишпестик : уруш
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  айтым : сөз
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  эскертүү : эскертме
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>12.&#160&#160  жалкоолук : аракетсиздик &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  суроо : түшүнүү
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  шашылыш : кечигүү
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  кызыгуу : көңүл
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  коргонуу : чабуул
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>13.&#160&#160  жай : шашпаган &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  тез : тырышчаак
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  ынтымактуу : жайдары
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  так : тыкан
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  сулуу : сүйкүмдүү
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>14.&#160&#160  сүйлөө : талкуулоо &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  көрүү : угуу
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  түштөнүү : кечтенүү
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  төлөө : алуу
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  кароо : байкоо
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>15.&#160&#160  тоо : үңкүр &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  дарак : көңдөй
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  жол : тоннель
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  кудук : суу
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  алжапкыч : чөнтөк
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>16.&#160&#160  кабар : кубаныч &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  кабар : маалымат
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  кабар : кат
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  кабар : жаңылык
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  кабар : тынчсыздануу
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>17.&#160&#160  үстөл : дасторкон &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  пол : килем
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  эмерек : каптама
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  терезе : парда
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  керебет : жапкыч
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>18.&#160&#160  бейкапар : камкордук &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  түркөй : билим
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  куралсыз : жеңиш
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  жеңилгис : салгылашуу
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  анык : факт
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>19.&#160&#160  такка отуруу : башкаруу &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  дайындоо : милдет
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  майрам : сыйлоо
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  аткаруу : убада
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  үйлөнүү : үй-бүлө
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>20.&#160&#160  гүлдөө : кыйроо &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  кульминация : аягы
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  түн : күн
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  өнүү : өсүү
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  пайда болуу : өбөлгө
                            </form>  
                </div>     
            </div>
            <!--// Card-->



            <!-- ДОПОЛНЕНИЯ -->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>21.&#160&#160 Айдоо маданияты _______ болгондуктан
                         улам көп айдоочулар жол кыймылы эрежелерин _______, ошол себептүү жол кырсыктары _______. &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  жогору / сакташып / болууда
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  төмөн / сакташып / жок болууда
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  төмөн / сакташпай / болууда
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  жогору / сакташпай / жок болууда
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>22.&#160&#160  Цехтин башчысы коопсуздук техникасына байланыштуу иш-чараларды уюштурууда 
                        көп учурда өз _______ көрсөткөндүктөн, 
                         жумушчулар аны _______ деп айыпташты. &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  ыкка келбестигин / учкаяк
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  чечкинсиздигин / өжөр
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  майдачылдыгын / үстүртөн
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  тыкан эместигин / шалакы
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>23.&#160&#160  Аба ырайынын кубулуп турушу жер жемиштеринин _______ өстүрүлүшүнө таасир _______,
                         ошон үчүн октябрь айында жааган карга фермерлер даяр _______, түшүмдү жыйноого _______. &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  күнөсканага / берет / болушуп / жетишишти
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  ачык жерге / берет / болушпай / жетишпеди
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  күнөсканага / бербейт / болушпай / жетишпеди
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  ачык жерге / бербейт / болушпай / жетишишти
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>24.&#160&#160  Азык-түлүктөрдү алар _______ үчүн эле ашыкча камдап _______, 
                        анткени камдалган азыктардын бир бөлүгү _______. &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  бат түгөнүп турган / коюунун кереги жок / узак мөөнөткө сакталат
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  кымбатташы мүмкүн болгон / коюу керек / керектелбеген бойдон калат
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  кымбатташы мүмкүн болгон / коюунун кереги жок / сөзсүз бузулуп кетет
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  бат түгөнүп турган / коюу керек / сакташ мүмкүн болбойт
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>25.&#160&#160  _______ болсо да, жаңы ойлоп табууга кызыккандар _______ болуп, ал туурасында _______. &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  Пайдалуу экени анык / аз / сөз тарады
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  Сыноосу ийгиликсиз / аз / көп талашышты
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  Сыноосу ийгиликтүү / жок / тез эле унутушту
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  Пайдасыз экени анык / дээрлик жок / эстеп да коюшкан жок
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>26.&#160&#160  Мурда гүлдөп-өскөн өлкөдө олуттуу 
                         саясий дүрбөлөңдөр башталгандан улам буга мурда _______ караган демөөрчүлөр андан ары каржылык салым кошууга _______ менен мамиле кылып калышты. &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  оң / жоомарттык
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  үмүттүү / этияттык
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  үмүтсүз / кызыгуу
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  чечкиндүү / ишеним
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>27.&#160&#160  Бензинге болгон баа кескин _______, токтотуу жайлары _______ себептүү
                         _______ автомобилдерге болгон суроо-талап _______. &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  арзандап / жетишсиз болгон / чоң жана кымбат / өстү
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  кымбаттап / курулуп жаткан / кичине жана үнөмдүү / азайды
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  арзандап / курулуп жаткан / чоң жана кымбат / азайды
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  кымбаттап / жетишсиз болгон / кичине жана үнөмдүү / өстү
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>28.&#160&#160  Мындай жаңылыш пикир бар: _______ кереги жок, анткени _______. &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  дарыларды алдын ала камдоонун / алардын жарамдуулук мөөнөтү бар
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  эс тутумду машыктыруунун / баарын жазып алып турса болот
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  эски буюмдарды сактоонун / алар көп орун ээлейт
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  зарыл нерселерди сатып алуунун / бул жөнүндө өкүнүп калуу мүмкүн
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>29.&#160&#160  Режиссер премьерадан кийин бардык _______ талап койду. &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  ролдор жатталышы керек деп
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  каталар оңдолсун деп
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  программкалар басылып чыксын деп
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  көрөрмандар өз ордуна отурсун деп
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>30.&#160&#160  Генри Форд автомобиль заводундагы оңдоо бригадаларынын мастерлерине жумуш убактысынын
                         _______ бөлүгү үчүн гана акча төлөнгөн, ошон үчүн алар оңдоо иштерин _______ жүргүзүүгө кызыктар болушкан. &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  алар иш менен алпурушкан / тынып-тынып
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  алар иш менен алпурушкан / тез
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  алардын иши жок болгон / шашпай
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  алардын иши жок болгон / тез
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <a th:href="@{/main_tests/option_1_kyr/reading}" class="test-btn-next"> Кийинки </a>
        </div>
    </div>
    
<footer th:include="footer"></footer>
<script th:src="@{/js/timer.js}"></script>
</body>
</html>