<head th:include="head"></head>
<body> 
    <div class="main-test-header-container" id="header">
        <div class="main-test-header"> 
            <h1>Кыргыз тилинин практикалык грамматикасы</h1>
            <h3 id="timer"> </h3>
        </div>   
    </div>    

    

    <div class="container" id="questions">
        <input type="checkbox" id="raz" class="del"/>
        <label for="raz" class="del">Нускаманы көрсөтүү</label>
        
        <div>
            <h2>Нускама</h2>
                Тестте Сиз аткарууга тийиш болгон төмөндөгүдөй тапшырмалар бар:
                <ul>
                    <li>тамгаларды коюу;</li>
                    <li>тыныш белгилерин коюу;</li>
                    <li>стилди аныктоо;</li>
                    <li>сүйлөм курамын аныктоо;</li>
                    <li>маанилеш сөздөрдү табуу;</li>
                    <li>көрсөтүлгөн маанидеги сөздөрдү түзүү;</li>
                    <li>сөздөрдү лексикалык же грамматикалык маанилерине ылайык колдонуу;</li>
                </ul>
                Тапшырмада асты сызылган сөздөр же сөз айкаштары кездешкен учурда, жоопту дал ошолорго гана таянып берүү керек.
            </br>Сөздөрдө түшүп калган тамгалардын жана сүйлөмдөрдө түшүп калган сөздөрдүн орду сызылган.
            </br>Тапшырма катары берилген сөздөр жана сүйлөмдөр суроодон мурда, же суроодон кийин жайгаштырылып, курсив менен бөлүп көрсөтүлгөн.
            </br>Ар бир тапшырманын туура жообу бир гана варианттан турат.
            </br>Жооптордун варианттары кирилл алфавитинин баш тамгалары менен белгиленген.
            </br>Туура вариантты жооп барагына белгилеп, боёп коюуну унутпаңыз.
            

             <hr>
            </br>
        </div>
     

        <div class="tests-cards-wrapper">

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title"><strong>1.&#160&#160  <i> &#160 &#160 &#160 Жакшы жигит жайкаңдап,
                                </br> &#160 &#160 &#160 &#160 &#160 &#160 Адам... көөн... калтыр...
                                </br> &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160  &#160 &#160 &#160 &#160(Токтогул)
                                </i>

                                </br>  Жогорку сүйлөмдөгү сөздөргө кайсы катардагы мүчөлөрдү ырааты менен уласак, сүйлөмдү туура түзгөн болобуз?
                                      &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  -дан, -үн, -ат
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  -дын, -үн, -байт
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  -дын, -ү, -байт
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  -дан, -ү, -ат
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title"><strong>2.&#160&#160  Сүйлөмдөрдөгү асты сызылган сөздөрдүн кайсынысы адабий нормага туура <u>келбейт</u>? &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  Көп кыйналбай, акырын <u>иштеп жүрүмүн</u>.
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  Ал убакта мен шаарда <u>иштеп жүрчүмүн</u>.
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  Ал өз кызматында мурункудай эле <u>иштеп жүрөт</u>.
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  Беш жылдан кийин сизге окшоп <u>иштеп жүрөрмүн</u>.
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title"><strong>3.&#160&#160 <i>Иштен соң түз үйгө бар...</i>
                            </br>
                            </br>Жогорку сүйлөмдөгү боштукту кайсы катардагы мүчө менен толуктасак, максат-ниетти билдирген болобуз? &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  -са экен
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  -гай эле
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  -мак болду
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  -гым келди 
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title"><strong>4.&#160&#160  <i> Ак кар жамынган бийик тоолорду карап, көйгөйлөрүн унутуп, магдырап, көпкө отуруп калды. </i>
                                
                                </br>Жогоруда берилген сүйлөмдөгү кайсы сөз сүйлөм мүчөсү катары кыймыл-аракеттин атын билдирип турат? &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  карап
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  унутуп
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  магдырап 
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  отуруп калды
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title"><strong>5.&#160&#160  <i>Менин бул жердеги милдетим келгендерди тосуп алуу.</i>
                                </br>
                                </br>Сүйлөмдөгү кайсы сөздөн кийин сызыкча коюлуш керек?
                                 &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  менин
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  милдетим
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  келгендерди
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  жердеги 
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">6.&#160&#160  <i>Заңгыра... мектеп курул... .</i>
                                </br>
                                </br>Жогорудагы бош чекиттердин ордуна кайсы варианттагы мүчөлөрдү катары менен уласак, туура сүйлөм түзгөн болобуз?  &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  -са, -чу
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  -чу, -ган
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  -ган, -ду
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  -майынча, -байт 
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">7.&#160&#160  Кайсы варианттагы сүйлөмдө үтүр белгиси туура коюлган? &#160 </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  - Айтчы, Айбек сен муну кайдан алдың?
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  - Ай-ий сонун көйнөк экен, го!
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  - Апа Жамал, ушул жерде эле жүргөн.
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  - Аман, сен аны тааныйсың. 
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">8.&#160&#160  Кайсы варианттагы сүйлөмдө белгиленген сөз туура жазылган? &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  Дартына <u>даба</u> табылды.
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  Дартына <u>дааба</u> табылды.
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  Дартына <u>дабаа</u> табылды.
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  Дартына <u>даабаа</u> табылды.
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">9.&#160&#160  Кайсы варианттагы сүйлөмдө асты сызылган сөз негизги
                                     кыймыл-аракетти билдирет? &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  Сапардын чарт-чурт кыялы болгону менен тажрыйбалуу <u>койчу</u>.
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  Жаным, ушул адатыңды <u>койчу</u>.
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  Жаш эмеспи, кечирип <u>койчу</u>.
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  Концерт саат канчада болорун билип <u>койчу</u>.
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">10.&#160&#160  Кайсы варианттагы сүйлөмдүн белгиленген бөлүгү экинчи бөлүгүнө багынып турат? &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  <u>Сабакка кечикпе</u>, бирок кечигип калсаң, уруксат сурап кир.
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  <u>Аны тааныбаган киши жок</u>, анткени көп жылдан бери кабарчы болуп иштейт.
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  <u>Бир жыл бою окугуча</u>, шаарды да жакшы билип каларсың.
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  <u>Шашкандын сабыры жок эмеспи</u>, ал эми жалкоонун кадыры болбойт экен.
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">11.&#160&#160  Кайсы варианттагы сүйлөмдө асты сызылган сөз өтмө мааниде колдонулду?   &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  <u>Үйүн</u> тез эле тапты.
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  <u>Үйүн</u> жыйнап тазалады.
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  <u>Үйүн</u> тез эле салып бүттү.
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  <u>Үйүн</u> толук көчүрүп кетти.
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">12.&#160&#160  Кайсы варианттагы сүйлөмдө асты сызылган сөз ой-пикирди тактоо үчүн колдонулду? &#160 </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  Ал да бул кинону <u>көрсө</u>, тарыхтан маалымат алса!
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  Азамат экен, <u>көрсө</u>, сынакка мыкты даярданыптыр.
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  Ал шаардан келген досун <u>көрсө</u>, сөзсүз сүйүнөт.
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  Эжесин <u>көрсө</u> эле, улам бир суроону бере берет.
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">13.&#160&#160  <i>Келген каттарды окуп бериш жана аларга жооп <u>бериш</u> ал менин милдетим.</i>
                                </br>
                                </br>Жогоруда берилген сүйлөмдөгү асты сызылган сөздөн кийин кайсы тыныш белгиси коюлушу керек? &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  сызыкча
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  үтүр
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  кош чекит
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  көп чекит
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">14.&#160&#160  Кайсы варианттагы сөздөрдүн бардыгы туура жазылган? &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  жакшырак, алтоо, өткөөл  
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  жакшыраак, алтоо, өткөл
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  жакшыраак, жетөө, өткөөл
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  жакшырак, экөө, өткөл
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">15.&#160&#160  Кайсы варианттагы сүйлөмдүн белгиленген бөлүгү кыймыл-аракеттин максатын билдирип турат? &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  <u>Эрте келейин деп</u> ойлоду, бирок кечигип калды.
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  <u>Жоголуп кетпесин деп</u>, сумкасына салып койду. 
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  <u>Жыгылып кетейин деп</u>, кайра түзөлө калды.
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  <u>Эрте келем деп</u>, өзү убада берген.
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">16.&#160&#160  Кайсы варианттагы сүйлөмдө асты сызылган сөз түз маанисинде колдонулган? &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  Эркиндик - тоонун абасындай, алсыз адамдар аны <u>көтөрө</u> албайт. 
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  Аракетчил балдарды <u>көтөрмөлөп</u> туруу керек.
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  Бактыгүл - "пил", үй-бүлөнүн түйшүгүн өзү көтөрөт.
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  Абай кучак толо тоо гүлдөрүн <u>көтөрүп</u> кирди.
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">17.&#160&#160 
                                    <i>I.&#160&#160 Атам <u>эртеден кечке</u> жумушта болот. </i>
                                </br>&#160&#160 &#160 &#160 <i>II.&#160&#160 Апам <u>эртели кеч</u> бизден кабар алып турат. </i>
                                </br>&#160&#160 &#160 &#160 <i>III.&#160&#160 Мирлан, ийгиликтин <u>эрте кечи</u> жок. </i>
                                </br>&#160&#160 &#160 &#160 <i>IV.&#160&#160 Жаркын, <u>эртеден-бери</u> кайда жүрөсүң? </i> 
                            </br></br>Кайсы сүйлөмдөгү асты сызылган сөздөр туура жазылган? &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  I, II
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  II, III
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  III, IV
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  IV, I
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">18.&#160&#160  Кайсы варианттагы сүйлөмдө кыймыл-аракеттин келечекте боло тургандыгы суралып жатат? &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  Көптөн бери ушул жерде иштейт бекен?
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  Көгүчкөндөр киши жашаган жерди мекендешет бекен?
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  Султан Ошко жөнөйт бекен?
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  Сүрөттү көргөн сайын күлкүсү келет бекен?
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">19.&#160&#160  <i>Көз _______</i> 
                                    </br> Жогоруда берилген сөз кайсы варианттагы сөз менен айкашып, убакытты билдирүүчү туура сөз айкашын түзө алат? &#160</h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  тумандаганда
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  байланганда
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  таңылганда
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  караңгылаганда
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">20.&#160&#160  Кайсы варианттагы сүйлөмдүн тыныш белгилери туура коюлган? &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  Эт этке, сорпо бетке.
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  Эт - этке, сорпо бетке.
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  Эт этке, сорпо - бетке.
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  Эт - этке, сорпо - бетке.
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">21.&#160&#160  Кайсы сүйлөмдөгү асты сызылган сөз кыймыл-аракеттин сан-өлчөмүн билдирип турат? &#160 </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  Аскат ыргыткан топ аябай <u>алыс</u> кетти.
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  Жамал, алган килемдер <u>кем</u> болбосун.
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  Жылдыз берген кездеме бир көйнөккө <u>араң</u> жетти.
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  Кеме өтө <u>жай</u> кыймылдап, жээктен алыстады.
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">22.&#160&#160  Кайсы варианттагы сүйлөмдүн белгиленген бөлүгү кыймыл-аракеттин сыпатын билдирип турат? &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  <u>Мээнет болбой</u>, ийгилик жаралбайт.
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  <u>Элчилер келбей</u>, жыйын болбой калды.
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  <u>Кулактандырууну окубай</u>, кечигип келишти.
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  <u>Жамандыкка барбай</u>, жакшылык гана жасаган адам.
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">23.&#160&#160  <i>көргөз..., чыгарма..., бүт...</i> 
                                    <br><br>Жогоруда берилген сөздөргө кайсы варианттагы мүчөлөрдү ирети менен уласак, жаңы сөздөрдү жасаган болобуз?&#160 </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  -үү, -дан, -күс 
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  -мө, -чыл, -үрүүчү
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  -гүн, -лар, -мөйүнчө 
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  -чү, -сы, -үр
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">24.&#160&#160  Кайсы варианттагы сүйлөмдө белгиленген сөздөн кийин сызыкча белгиси коюлат? &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  Бизге келген <u>себеби</u> анын окууга болгон умтулуусу.
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  Бизге келген <u>себеби</u> анын окууга болгон умтулуусу зор.
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  Бизге <u>келген</u> себеби анын окууга болгон умтулуусу.
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  Бизге <u>келген</u> себеби анын окууга болгон умтулуусу зор.
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">25.&#160&#160  Кайсы варианттагы сөздөрдүн бардыгы туура ташымалданган? &#160 </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  үс-төл, ү-түк, а-га
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  жоо-газын, журнал-дын, ы-сык
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  ынтымактуу, бо-ё, Адыл-дын
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  эл-дик, подъ-езд, малчы-ныкы
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">26.&#160&#160  Кайсы варианттагы сүйлөмдүн биринчи бөлүгү экинчи бөлүгүнүн себебин билдирип турат? &#160 </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  Үйдөгүлөр жапырт отурушканда, Муса "Майдан" маршын черте баштады.
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  Үйдөгүлөр жапырт отурушса, Муса "Майдан" маршын черте баштайт.
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  Үйдөгүлөр жапырт отурушкандыктан, Муса "Майдан" маршын черте баштады.
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  Үйдөгүлөр жапырт отурушмайынча, Муса "Майдан" маршын чертпейт.
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">27.&#160&#160  Кайсы варианттагы сүйлөмдүн тыныш белгилери туура коюлган? &#160 </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  Балалык чак, айтор бүлбүлдөп артта калууда.
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  Балалык чак, айтор, бүлбүлдөп артта калууда.
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  Балалык чак айтор бүлбүлдөп, артта калууда.
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  Балалык чак айтор, бүлбүлдөп артта калууда.
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">28.&#160&#160  Кайсы варианттагы сүйлөмдүн биринчи бөлүгү кыймыл-аракеттин себебин, экинчи бөлүгү анын натыйжасын билдирет? &#160 </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  Апам келди, баарыбыз абдан сүйүндүк.
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  Биздин эл эмгекти сүйөт, анткени эмгек - жашоонун булагы.
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  Ачуусу катуу келди, ошенткени менен аны кыя алган эмес.
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  Айбектин айтканын укту, укпаска аргасы жок болчу.
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">29.&#160&#160 
                                    <i>I.&#160&#160 Сайкал үнсүз туруп калды </i>
                                </br>&#160&#160 &#160 &#160 <i>II.&#160&#160 мен оокат менен тамашаңа гана орток болгонум менен </i>
                                </br>&#160&#160 &#160 &#160 <i>III.&#160&#160 мындай ишке акыл кошо албайм дегенсип </i>
                            </br></br>Жогоруда берилген сүйлөм бөлүктөрүн кайсы варианттагы ырааттуулук боюнча жайгаштырсак, сүйлөмдү туура түзгөн болобуз? &#160 </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  I, III, II
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  II, III, I
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  III, I, II
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  III, II, I
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">30.&#160&#160  Туура жазылган вариантты тапкыла. &#160 </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  тайене
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  тайэне
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  таене
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  тайне
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->


            <a th:href="@{#header}" class="test-btn-next"> ТЕСТТИ АЯКТОО </a>
        </div>
    </div>

    <footer th:include="footer"></footer>

<script th:src="@{/js/timer.js}"></script>
</body>
</html>