<head th:include="head"></head>
<body> 
    <div class="main-test-header-container" id="header">
        <div class="main-test-header"> 
            <h1>Математика</h1>
            <h2 id="chast">II Бөлүк</h2>
            <h3 id="timer"> </h3>
        </div>   
    </div>    

    

    <div class="container" id="questions">

           
        <input type="checkbox" id="raz" class="del"/>
        <label for="raz" class="del">Нускаманы көрсөтүү</label>
                

        <div>
            <h2>Нускама</h2>
            31ден 60ка чейинки суроолордун ар бирине жооптун беш варианты берилет. Алар (А), (Б), (В), (Г), (Д) тамгалары менен белгиленген.
            </br>Суроого жооп берип жатып, сиз тапшырманы, бардык жооп варианттарын кунт коюп окуп, жооптордун кайсынысы эң ылайык келерин аныкташыңыз керек. 
            Сиз сунуш кылынган жооптордун бир эле вариантын тандашыңыз керек болгонун унутпаңыз.
             <hr> 
             <strong>Сандар</strong>
            </br>
             Тестте анык сандар гана колдонулат.
            <hr>
            <strong>Фигуралар</strong>
            </br>
            Тапшырмалар менен кошо берилген фигуралар маселени чыгаруу үчүн пайдалуу маалыматты берет.
        </br>Атайын алдын ала айтылган учурлардан БАШКА учурларда фигуралар масштабда жана тегиздикте тартылган.
            </br>
            </br>
            <!-- <img class="instruction" src="../../img/questions/instruction.jpg" alt="instruction"> -->
        </div>
     

        <div class="tests-cards-wrapper">

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>31.&#160&#160  56 + 40 : 4 ⋅ 2 = &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  132
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  76
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  61
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  48
                                <br><input type="radio" name="rb1" value="0"> (Д) &#160  12    
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>32.&#160&#160 Эгер&#160 1 &frasl; <i>x</i> = 0,5&#160 болсо, анда <i>x</i> = &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  1 &frasl; 5
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  1 &frasl; 2
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  2
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  5
                                <br><input type="radio" name="rb1" value="0"> (Д) &#160  10    
                            </form>  
                </div>     
            </div>
            <!--// Card-->            
        
            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title">33.&#160&#160  Сан түз сызыгында -2,3 жана 3,3 </br>сандарынын арасында жайгашкан бардык
                    </br>бүтүн сандардын суммасы канчага барабар?</h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  7
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  3
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  1
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  0
                                <br><input type="radio" name="rb1" value="0"> (Д) &#160-3    
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    <img th:src="@{/img/questions/q34.jpg}" alt="Тест">
                    <h3 class="card-title"><strong>34.&#160&#160  Эгер жогорудагы сүрөттөгү <i>ABC</i> үч бурчтугунда 
                         <i>AC</i> = 12, <i>AB = a, BC = 3a</i> болсо, анда төмөндөгүлөрдүн кайсынысы <i>a</i> га барабар?&#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  2
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  2,5
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  3
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  4
                                <br><input type="radio" name="rb1" value="0"> (Д) &#160  6,5    
                            </form>  
                </div>     
            </div>
            <!--// Card-->      
            
            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>35.&#160&#160  Эгер бардык <i>x</i> сандары үчүн <i>f</i>(<i>x</i>) функциясы
                         <i>f</i>(<i>x</i>) = |<i>x</i><sup>2</sup> - 50| катары аныкталса, анда <i>f</i>(-5) = &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  0
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  25
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  40
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  60
                                <br><input type="radio" name="rb1" value="0"> (Д) &#160  75    
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>36.&#160&#160  Эгер <i>a, b, c - </i>удаалаш бүтүн сандар болсо,
                         анда төмөндөгү берилгендердин кайсынысы туура?
                        </br> &#160 &#160 &#160 I. &#160 &#160<i>a ⋅ b</i> так сан
                        </br> &#160 &#160 &#160 II. &#160 &#160<i>b ⋅ c</i> жуп сан
                        </br> &#160 &#160 &#160 III. &#160 &#160<i>a + b + c</i> 3кө бөлүнөт</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  I гана
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  I жана II гана
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  II жана III гана
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  I жана III гана
                                <br><input type="radio" name="rb1" value="0"> (Д) &#160  I, II, III    
                            </form>  
                </div>     
            </div>
            <!--// Card-->            
        
            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>37.&#160&#160  14,3 : 10 + 1,057 ⋅ 10 = &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  28,87
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  24,87
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  12
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  10,713
                                <br><input type="radio" name="rb1" value="0"> (Д) &#160  1,2    
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>38.&#160&#160  Эгер <i>y + yz = </i>18 жана</br> <i>z + </i>1 = 6 болсо,
                     анда <i>y = </i>&#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  3
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  5
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  6
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  12
                                <br><input type="radio" name="rb1" value="0"> (Д) &#160  26    
                            </form>  
                </div>     
            </div>
            <!--// Card-->              

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    <img th:src="@{/img/questions/q39.jpg}" alt="Тест">
                    <h3 class="card-title"><strong>39.&#160&#160  Эгер Александрдын 14 килограмм
                    </br> 200 грамм болгон посылкасын почтада
                    </br> 40 х 50 х 30 өлчөмдөгү коробкага таңгакташса, 
                    </br>анда Александр автопочтанын бардык тейлөөлөрү үчүн канча сом төлөгөн?&#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  400
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  408
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  448
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  450
                                <br><input type="radio" name="rb1" value="0"> (Д) &#160  458    
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>40.&#160&#160  Эгер Адинай 1 килограмм 800 грамм болгон
                    </br>биринчи посылкасын жана 4 килограмм 
                    </br>300 грамм болгон экинчи посылкасын жөнөтүп, таңгактоочулардын тейлөөсүнөн баш тартса, анда автопочтанын тейлөөлөрү үчүн Адинай канча сом төлөгөн? &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  310
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  301
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  300
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  270
                                <br><input type="radio" name="rb1" value="0"> (Д) &#160  261    
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>41.&#160&#160  3 ⋅ √2 ⋅ √5 ⋅ 4 ⋅ √10 = &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  √1200
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  3√400
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  4√300
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  120
                                <br><input type="radio" name="rb1" value="0"> (Д) &#160  1200    
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    <img th:src="@{/img/questions/q42.jpg}" alt="Тест">
                    <h3 class="card-title"><strong>42.&#160&#160  Эгер жогорудагы сүрөттөгү <i>Oxy</i>
                         координаттардын тик бурчуу системасында <i>O, B </i>жана <i>C</i>
                          чекиттеринин координаттары көрсөтүлсө, анда <i>OBC</i> үч бурчтугунун ички аймагынын аянты канчага барабар? &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  15
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  12
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  10
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160&#160   8
                                <br><input type="radio" name="rb1" value="0"> (Д) &#160   6    
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>43.&#160&#160  Эгер бир килограмм мейиз <i>a</i> сом болсо,
                         анда төмөндөгү туюнтмалардын кайсынысы боюнча 400 грамм мейиз үчүн канча сом төлөө керектигин аныктоого болот? 
                         за 400 граммов изюма? &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  0,4<i>a</i>
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  <i>a</i>&frasl;0,4
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  0,04<i>a</i>
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  <i>a</i>&frasl;400
                                <br><input type="radio" name="rb1" value="0"> (Д) &#160  400<i>a</i>    
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    <img th:src="@{/img/questions/q44.jpg}" alt="Тест">
                    <h3 class="card-title"><strong>44.&#160&#160  Эгер жогоруда берилген <i>ABC</i>
                         үч бурчтугунда <i>AB = BC</i> болсо, анда α =  &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  30
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  36
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  45
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  60
                                <br><input type="radio" name="rb1" value="0"> (Д) &#160  72    
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>45.&#160&#160  Эски автомобилдин баасы </br>
                        <i>y</i> = (0,8)<sup><i>n</i></sup> ⋅ <i>c</i> формуласы боюнча аныкталат, мында 
                        </br><i>c</i> - жаңы автомобилдин сом менен сатылуучу наркы,
                        </br><i>n</i> - автомобилдин пайдаланган бардык жылдардын саны.
                        </br> &#160 Эгер жаңы автомобилдин баасы 500 000 сом болсо, анда бул автомобиль эки жыл пайдалангандан кийин канча сом болот? &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  400 000
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  360 000
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  320 000
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  300 000
                                <br><input type="radio" name="rb1" value="0"> (Д) &#160  200 000    
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>46.&#160&#160  √76 - √48 = &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  1
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  √3
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  3
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  3√3
                                <br><input type="radio" name="rb1" value="0"> (Д) &#160  9√3    
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    <img th:src="@{/img/questions/q47.jpg}" alt="Тест">
                    <h3 class="card-title"><strong>47.&#160&#160  Жогоруда көрсөтүлгөн сүрөттө:  <i>AK + KB + AB + BC.</i>
                    </br> Эгер <i>ABK</i> үч бурчтугунун периметри 45ке барабар болсо, ал эми <i>ABC</i> үч бурчтугунун периметри 40ка барабар болсо, анда <i>AC</i> = &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  25
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  20
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  15
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  10
                                <br><input type="radio" name="rb1" value="0"> (Д) &#160   5    
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>48.&#160&#160  Эгер <i>x</i> жана <i>y</i> - бүтүн оң сандар жана 
                        <i>x</i> + <i>y</i> = 9 болсо, анда <i>x</i>&frasl;<i>y</i> мааниси төмөндө берилгендердин кайсынысына барабар БОЛУШУ МҮМКҮН ЭМЕС? &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  4&frasl;5
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  3&frasl;4
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  1&frasl;2
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  2&frasl;7
                                <br><input type="radio" name="rb1" value="0"> (Д) &#160  1&frasl;8    
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    <img th:src="@{/img/questions/q49.jpg}" alt="Тест">
                    <h3 class="card-title"><strong>49.&#160&#160  Эгер жогоруда көрсөтүлгөн сүрөттө,
                    </br> тегеректин борбору - <i>O</i> болсо, анда <i>φ</i> = &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  170
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  160
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  150
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  130
                                <br><input type="radio" name="rb1" value="0"> (Д) &#160  120    
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>50.&#160&#160  Вазада алмалар, алмуруттар жана шабдалылар бар. Баары 14 даана. Алмуруттар 
                        алмаларга караганда 2 эсе көп, ал эми алмалар шабдалыларга караганда азыраак.
                    </br>Эгер вазада алмуруттар баарынан көп болсо, анда вазада канча шабдалы бар? &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  4
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  5
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  6
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  9
                                <br><input type="radio" name="rb1" value="0"> (Д) &#160  11  
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>51.&#160&#160  Эгер </br><i>x</i> = 2<sup>2013</sup> ⋅ 5<sup>2016</sup> болсо, 
                        анда <i>x</i> санындагы цифралардын суммасы канчага барабар? &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  125
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  22
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  10
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  8
                                <br><input type="radio" name="rb1" value="0"> (Д) &#160  7    
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>52.&#160&#160  Данды актоо өндүрүшүндө акталган дандын массасы 86 пайызды, калгандары калдыктарды түзөт.
                    </br> Эгер 7 тонна калдык чыкса, анда канча тонна акталган дан алынган? &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  86,0
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  43,0
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  8,6
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  7,0
                                <br><input type="radio" name="rb1" value="0"> (Д) &#160  4,3    
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>53.&#160&#160  Эгер 3 жана <i>z</i> сандарынын орточо арифметикалык саны
                         5ке барабар болсо, 5 жана <i>t</i> сандарынын орточо арифметикалык саны 7ге барабар болсо, анда <i>z</i> жана <i>t</i> сандарынын орточо арифметикалык саны канчага барабар? &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  4
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  5
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  8
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  10
                                <br><input type="radio" name="rb1" value="0"> (Д) &#160  12    
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>54.&#160&#160  Эгер 2<sup><i>k</i></sup> + 2<sup><i>k</i></sup> = <i>b</i>
                         жана <i>k</i> ≠ 1 болсо, анда <i>b</i><sup>2</sup> = &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  2<sup>2<i>k</i></sup>
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  2<sup>4<i>k</i></sup>
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  2<sup>2(<i>k</i>+1)</sup>
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  2<sup><i>k</i>+1</sup>
                                <br><input type="radio" name="rb1" value="0"> (Д) &#160  2<sup>(<i>k</i>+1)<sup>2</sup></sup>    
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>55.&#160&#160  Эгер <i>n</i> санын 5ке бөлүүдөгү калдыгы 3кө барабар болсо,
                         анда 3<i>n</i> санын 5ке бөлүүдөгү калдыгы канчага барабар? &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  4
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  3
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  2
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  1
                                <br><input type="radio" name="rb1" value="0"> (Д) &#160  0    
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    <img th:src="@{/img/questions/q56.jpg}" alt="Тест">
                    <h3 class="card-title"><strong>56.&#160&#160  Жогорудагы сүрөттөгү айлана <i>ABCD</i> квадратынын чокулары аркылуу өтөт. 
                        </br>Эгер <i>ABCD</i> квадратынын ички аймагынын аянты 4кө барабар болсо, анда айлананын аянты канчага барабар? &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  π
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  2π
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  4π
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  6π
                                <br><input type="radio" name="rb1" value="0"> (Д) &#160  8π    
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>57.&#160&#160  Ар кандай <i>a</i> жана <i>b</i> сандары үчүн
                          &otimes; математикалык жаңы операция <i>a</i> &otimes; <i>b</i> = <i>a</i><sup>2</sup> - <i>b</i> катары аныкталган.
                    </br> Эгер 3 &otimes; <i>x</i> = 5 болсо, анда <i>x</i> = &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  14
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  8
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  4
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  2
                                <br><input type="radio" name="rb1" value="0"> (Д) &#160-2    
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>58.&#160&#160  Төмөндө берилген <i>xOy</i> координаттарынын тик бурчтуу системасындагы кайсы 
                        функциянын графиги (-2;1) координаттары бар чекит аркылуу өтөт? &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  <i>f</i>(<i>x</i>) = <i>x</i> - 1
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  <i>f</i>(<i>x</i>) = <i>-x</i> + 1
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  <i>f</i>(<i>x</i>) = <i>-x</i> + 3
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  <i>f</i>(<i>x</i>) = <i>x</i> - 3
                                <br><input type="radio" name="rb1" value="0"> (Д) &#160  <i>f</i>(<i>x</i>) = <i>x</i> + 3    
                            </form>  
                </div>     
            </div>
            <!--// Card-->
            
            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>59.&#160&#160  Тегерек столдун четинде эркектер жана аялдар отурат. Үч эркектин эч бири бири-бири менен жанаша отурган жок.
                        Эгер столдун тегерегинде 14 адам отурса, анда бул столдун тегерегинде отурган аялдардын эң аз саны канчага барабар? &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  2
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  3
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  4
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  5
                                <br><input type="radio" name="rb1" value="0"> (Д) &#160  6    
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    <img th:src="@{/img/questions/q60.jpg}" alt="Тест">
                    <h3 class="card-title"><strong>60.&#160&#160  Жогорудагы сүрөттө көрсөтүлгөндөй, <i>ABCDA<sub>1</sub>B<sub>1</sub>C<sub>1</sub>D<sub>1</sub></i>
                        кубу <i>Axyz</i> координаттарынын тик бурчтуу системасында жайгашкан.
                        </br>Эгер <i>A</i>(0;0;0), <i>A</i><sub>1</sub>(0;0;6) жана <i>P</i> - кубдун <i>AC<sub>1</sub></i> диагоналынын ортосу болсо,
                        анда <i>P</i> чекитинин координаттары кандай? &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  (-√6;-√6;√6)
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  (3;3;3)
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  (-3;3;3)
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  (-3√3;-3√3;3√3)
                                <br><input type="radio" name="rb1" value="0"> (Д) &#160  (-3;-3;3)   
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <a th:href="@{/main_tests/option_1_kyr/analogy}" class="test-btn-next"> Кийинки </a>
        </div>
    </div>

    <footer th:include="footer"></footer>
    <script th:src="@{/js/timer.js}"></script>

</body>
</html>