<head th:include="/fragments/head"></head>
<body> 
    <div class="main-test-header-container" id="header">
        <div class="main-test-header"> 
            <h1>Аналогии и дополнение предложений</h1>
            <h3 id="timer"> </h3>
        </div>   
    </div>    

    

    <div class="container" id="questions">

           
            <input type="checkbox" id="raz" class="del"/>
            <label for="raz" class="del">Показать инструкцию</label>
            
            <div>
                <h2>Инструкция</h2>
                Каждое задание состоит из пяти пар слов. Выделенная жирным шрифтом пара показывает образец отношений между двумя словами.
                Определите, какие отношения существуют между словами в этой паре, а затем выберите в вариантах ответа пару слов с такими же отношениями.
                 Порядок слов в выбранном вами ответе должен быть таким же, как и в образце.
                 <hr>
                </br>
            </div>
     

        <div class="tests-cards-wrapper">

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>1.&#160&#160  дорога : ездить &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  тетрадь : писать
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  солнце : светить
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  замок : висеть
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  цветок : расти   
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>2.&#160&#160  танец : вальс &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  танец : искусство
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  танец : дискотека
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  танец : балет
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  танец : танго
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>3.&#160&#160  лицо : затылок &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  нос : рот
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  грудь : спина
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  голова : волосы
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  руки : ноги
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>4.&#160&#160  добавлять : сокращать &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  нарушать : ломать
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  экономить : тратить
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  развивать : увеличивать
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  обучать : знать
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>5.&#160&#160  каша : пшённый &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  мука : пшеничный
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  кисель : густой
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  хлеб : свежий
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  суп : гороховый
                            </form>  
                </div>     
            </div>
            <!--// Card-->
        
            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>6.&#160&#160  разойтись : сойтись &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  развязать : связать
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  раскрыть : распахнуть
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  развесить : свесить
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  рассказать : сказать
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>7.&#160&#160  дом : строить &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  завод : работать
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  товар : продавать
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  картина : рисовать
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  телевизор : смотреть
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>8.&#160&#160  день : полдень &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  зима : январь
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  осень : ноябрь
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  лето : июнь
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  весна : май
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>9.&#160&#160  большой : громадный &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  маленький : огромный
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  широкий : необозримый
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  высокий : низкий
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  длинный : скучный
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>10.&#160&#160  радость : смех &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  слёзы : горе
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  отдых : усталость
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  восторг : отвращение
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  возмущение : крик
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>11.&#160&#160  обещание : клятва &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  прощение : вина
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  разногласие : ссора
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  выражение : слово
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  упоминание : заметка
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>12.&#160&#160  лень : бездействие &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  вопрос : понимание
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  спешка : опоздание
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  интерес : внимание
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  оборона : нападение
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>13.&#160&#160  медленный : неторопливый &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  быстрый : напористый
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  дружный : веселый
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  точный : аккуратный
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  красивый : привлекательный
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>14.&#160&#160  говорить : рассуждать &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  видеть : слышать
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  обедать : ужинать
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  платить : покупать
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  приходить : навещать
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>15.&#160&#160  гора : пещера &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  дерева : дупло
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  дорога : тоннель
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  колодец : вода
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  фартук : карман
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>16.&#160&#160  сообщение : радость &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  сообщение : информация
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  сообщение : письмо
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  сообщение : новость
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  сообщение : тревога
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>17.&#160&#160  стол : скатерть &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  пол : ковёр
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  диван : обивка
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  окно : занавеска
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  кровать : покрывало
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>18.&#160&#160  беспечный : забота &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  невежественный : знание
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  безоружный : победа
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  непобедимый : битва
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  достоверный : факт
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>19.&#160&#160  коронация : царствование &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  назначение : обязанности
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  праздник : угощение
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  исполнение : обещание
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  свадьба : замужество
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>20.&#160&#160  расцвет : упадок &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  кульминация : финал
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  ночь : день
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  появление : развитие
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  возникновение : предпосылка
                            </form>  
                </div>     
            </div>
            <!--// Card-->



            <!-- ДОПОЛНЕНИЯ -->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>21.&#160&#160  _______ культура вождения является причиной того,
                         что многие водители _______ правила дорожного движения, поэтому _______ аварийные ситуации. &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  Высокая / соблюдают / возникают
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  Низкая / соблюдают / не возникают
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  Низкая / не соблюдают / возникают
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  Высокая / не соблюдают / не возникают
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>22.&#160&#160  Начальник цеха так часто проявлял _______ в организации
                         мероприятий по технике безопасности, что рабочие обвинили его в _______. &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  бескомпромиссность / легкомыслии
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  нерешительность / непреклонности
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  педантичность / поверхностности
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  небрежность / халатности
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>23.&#160&#160  Капризы погоды _______ на выращивание овощей в _______,
                         поэтому выпавший в октябре снег _______ врасплох фермеров, которые _______ убрать урожай. &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  влияют / теплицах / не застал / успели
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  влияют / открытом грунте / застал / не успели
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  не влияют / теплицах / застал / не успели
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  не влияют / открытом грунте / застал / успели
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>24.&#160&#160  _______ покупать продукты впрок только потому, что они _______, 
                        так как часть из запасённого _______. &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  Не следует / быстро кончаются / имеет большой срок хранения
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  Следует / могут подорожать / никогда не понадобится
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  Не следует / могут подорожать / наверняка испортится
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  Следует / быстро кончаются / сохранить не удастся
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>25.&#160&#160  Несмотря на _______, изобретением _______ заинтересовался и о нём _______. &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  бесспорную полезность / мало кто / сразу заговорили
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  неудачные испытания / мало кто / много спорили
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  удачные испытания / никто не / быстро забыли
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  абсолютную бесполезность / почти никто не / даже не вспоминали
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>26.&#160&#160  Серьезные политические беспорядки в ранее преуспевающей стране
                         сделали прежде _______ настроенных инвесторов _______ в отношении дальнейших финансовых вложений. &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  позитивно / щедрыми
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  оптимистично / осторожными
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  пессимистично / заинтересованными
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  решительно / уверенными
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>27.&#160&#160  Значительное _______ цены на бензин и _______ мест для парковки
                         привели к _______ спроса на _______ автомобили. &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  снижение / нехватка / повышению / большие дорогие
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  увеличение / строительство новых / снижению / маленькие экономичные
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  снижение / строительство новых / снижению / большие дорогие
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  увеличение / нехватка / повышению / маленькие экономичные
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>28.&#160&#160  Существует ошибочное мнение: не нужно _______, потому что _______. &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  запасать лекарства / у них имеется срок годности
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  хранить старые вещи / они занимают много места
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  тренировать память / всё можно записывать
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  совершать необдуманные поступки / об этом придется жалеть
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>29.&#160&#160  Режиссер настоял на том, чтобы после премьеры все _______. &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  роли были выучены
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  ошибки были исправлены
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  программки были распечатаны
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  зрители заняли свои места
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>30.&#160&#160  Генри Форд оплачивал мастерам ремонтной бригады на автомобильном
                         заводе только ту часть рабочего времени, когда _______, поэтому они были заинтересованы производить ремонт _______. &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  они были заняты работой / с перерывами
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  они были заняты работой / быстро
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  у них не было работы / не спеша
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  у них не было работы / быстро
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <a th:href="@{/main_tests/option_1_rus/reading}" class="test-btn-next"> Следующий </a>
        </div>
    </div>
    
<footer th:include="footer"></footer>
<script th:src="@{/js/timer.js}"></script>
</body>
</html>