<head th:include="/fragments/head"></head>
<body> 
    <div class="main-test-header-container" id="header">
        <div class="main-test-header"> 
            <h1>Практическая грамматика русского языка</h1>
            <h3 id="timer"> </h3>
        </div>   
    </div>    

    

    <div class="container" id="questions">

           
            <input type="checkbox" id="raz" class="del"/>
            <label for="raz" class="del">Показать инструкцию</label>
            
            <div>
                <h2>Инструкция</h2>
                    В тесте есть задания, при выполнении которых вам нужно:
                    <ul>
                        <li>проанализировать слова, словосочетания или предложения и найти правильный ответ в приведённых вариантах;</li>
                        <li>вставить буквы;</li>
                        <li>поставить знаки препинания;</li>
                        <li>достроить предложения;</li>
                        <li>подобрать синонимы или антонимы;</li>
                        <li>найти ошибку;</li>
                    </ul>
                    Пропуски букв в словах и слов в предложениях обозначены тремя точками.
                </br>Материал для анализа (предложения, слова, словосочетания) в задании помещён под вопросом и выделен курсивом.
                </br>В заданиях, где есть скобки, вам нужно выбрать вариант слитного, раздельного или дефисного написания слов.
                </br>В предложениях с пропущенными знаками препинания предлагаемое место постановки знака обозначено подчёркнутым пробелом или цифрой.
                </br>Варианты ответов обозначены заглавными буквами русского алфавита.
                </br>Каждое задание имеет только один вариант правильного ответа.
                

                 <hr>
                </br>
            </div>

     

        <div class="tests-cards-wrapper">

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title"><strong>1.&#160&#160  Какой порядок букв соответствует пропускам в словах:
                                     <i>ре...кий, сла...кий, сва...ьба, жени...ьба.</i> &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  д, т, т, т
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  т, д, т, д
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  т, т, д, т
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  д, д, д, т   
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title"><strong>2.&#160&#160  В каком порядке следует вставить слова вместо точек в предложение?
                                </br><i>В коробке не хватило ... ножниц и ... катушек ниток.</i> &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  трёх, двоих
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  троих, двух
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  троих, двоих
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  трёх, двух
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title"><strong>3.&#160&#160  На месте какой (каких) цифры (цифр) следует поставить
                                     запятую?
                                </br><i>До скорой встречи (1) наши (2) дорогие (3) выпускники!</i> &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  2 и 3 только
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  1 только
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  3 только
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  1 и 2 только 
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title"><strong>4.&#160&#160  В каком порядке следует поставить предложения, чтобы получился связный текст?
                                </br>
                                </br><i>1. &#160&#160 Овальное смуглое лицо, крылатые брови, волосы чёрные, глаза тёмные, поблёскивающие.
                                </br>
                                </br>2. &#160&#160 Я обратил внимание на одно совершенно примечательное лицо.
                                </br>
                                </br>3. &#160&#160 А в движениях какая-то угловатость, характерная для людей застенчивых.
                                </br>
                                </br>4. &#160&#160 Представьте себе молодого человека, лет двадцати трёх, с лицом поразительной интеллектуальной красоты. </i> &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  4, 2, 3, 1
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  2, 4, 1, 3
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  2, 1, 4, 3 
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  4, 1, 3, 2
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title"><strong>5.&#160&#160  Какое слово следует вставить вместо точек, исходя из смысла предложения?
                                </br><i>Азалию считают одним из самых привередливых цветков, а каланхоэ, наоборот, ... .</i> &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  нежным
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  капризным
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  причудливым
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  неприхотливым 
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">6.&#160&#160  Какой порядок букв соответствует пропускам в словах?
                                
                                </br><i>Леч...щий врач, дыш...щий вулкан, ре...вший флаг, вид...щий издалека</i>  &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  у, у, е, ю
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  а, а, я, я
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  у, а, я, ю
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  а, у, и, я 
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">7.&#160&#160  В каком предложении подчёркнутое слово употреблено в правильной форме? &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  Сатирик беспощадно высмеивает <u>человеческие</u> жадность, жестокость, самодовольство.
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  Я часто вспоминаю <u>мои</u> детство и юность.
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  Флаг несли <u>загорелые</u> юноша и девушка.
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  Редактирование этой рукописи следует поручить <u>опытным</u> писателю или журналисту. 
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">8.&#160&#160  В каком предложении НЕТ лишних слов (ничего не прибавляющих к высказыванию)? &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  Своими соображениями о новом методе исследования учёный поделился с коллегами по работе.
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  Каждый час радио передаёт информационное сообщение.
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  Близнецы были так похожи, что даже родители с трудом различали их одного от другого.
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  Очень замечательные впечатления в нашей памяти от поездки по стране.
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">9.&#160&#160  На место каких цифр следует поставить запятые в предложении?
                                
                                </br><i>Он проснулся (1) когда солнце было уже высоко (2) ставни в горенке были закрыты (3) но он всегда
                                     узнавал время по тому (4) как располагались на полу полоски света.
                                </i>  &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  1, 2, 3 только
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  2 и 4 только
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  1 и 3 только
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  1, 2, 3, 4 
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">10.&#160&#160  В каком порядке следует вставить буквы в слове вместо точек?
                                
                                </br><i>Пред...стория романа, без...нициативный человек, сверх...нтересное событие, меж...гровая тренировка</i>  &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  и, и, ы, ы
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  и, ы, и, ы
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  ы, и, ы, и
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  ы, ы, и, и 
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">11.&#160&#160  Какой порядок слов соответствует пропускам в предложениях?
                                
                                </br><i>Прошу ... мне очередной отпуск. Я собираюсь ... свою работу на конкурс. Он предпочитает ... науки.
                                     Человека возвышают ... поступки.
                                </i>  &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  представить, предоставить, гуманитарные, гуманные
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  предоставить, представить, гуманитарные, гуманные
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  предоставить, представить, гуманные, гуманитарные
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  представить, предоставить, гуманные, гуманитарные
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">12.&#160&#160  Какое слово уместно вставить в данные предложения вместо пробела?
                                
                                </br><i>Она увидела как кошка тихонько _______ к сметане на столе.
                                </br>Он переживал, что нужное слово никак не _______.
                                </i>  &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  приближается
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  подкрадывается
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  подбирается
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  подходит
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">13.&#160&#160  В каком предложении подчёркнутое выражение написано правильно? &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  Вы можете пересылать деньги с комиссионным взносом <u>всего 1%</u> за перевод.
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  Пересылая деньги, вы платите <u>всего 1%</u> комиссионного взноса.
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  Комиссионный взнос <u>всего в 0,1%</u> от общей суммы.
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  <u>Всего на 0,1%</u> от общей суммы комиссионный взнос наиболее выгоден.
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">14.&#160&#160  В каком предложении выделенные слова сочетаются правильно? &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  Кассир <u>отчитывался в получении</u> денег.  
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  Больным в этом санатории <u>оказывали заботу</u>.
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  Путешествия <u>обогощают кругозор</u>.
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  Нашему спортсмену посчастливилось <u>перенять эстафету</u>.
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">15.&#160&#160  Какую форму слова следует поставить вместо точек в данное предложение?
                                </br><i>Солнце уже спряталось в черной туче, ... на хребте западных гор.</i> &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  отдыхавшее
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  отдыхавшей
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  отдыхавшая
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  отдыхавшую
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">16.&#160&#160  В каком предложении подчёркнутое слово уотреблено в правильной форме? &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  Мы замечаем, что  убыстряются <u>ритмы</u> нашей жизни.
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  Наш учитель смог нам привить <u>чувства</u> прекрасного.
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  В городском питомнике выращиваются <u>деревья</u> ста пород.
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  Многие сельскохозяйственные культуры плохо переносят <u>недостатки</u> влаги.
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">17.&#160&#160  Какое слово следует написать слитно, если раскрыть скобки? &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  (не)нарушая режима сна
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  ещё (не)замёрзшая река
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  (не)законченная вовремя работа
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  (не)дорогой, а красивый костюм
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">18.&#160&#160  Какое слово следует вставить вместо точек в предложение?
                                </br><i>С этим щенком мне приходится не только играть, но и ...</i> &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  гулять
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  ухаживать
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  купать
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  дрессировать
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">19.&#160&#160  В каком предложении подчёркнутое слово употреблено правильно? &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  Наш микрорайон украсили два <u>высотных</u> дома.
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  Наутро на столе мастера лежали три <u>новых</u> шапки.
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  К празднику требовалось разучить хотя бы две <u>весёлых</u> песенки.
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  Вот и наступили три <u>праздничных</u> недели.
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">20.&#160&#160  В каком варианте правильно расставлены все знаки препинания? &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  С одной стороны, мы были рады возможности побывать за границей, с другой - у нас много дел здесь.
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  С одной стороны - мы были рады возможности побывать за границей - с другой, у нас много дел здесь.
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  С одной стороны, мы были рады возможности побывать за границей - с другой, у нас много дел здесь.
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  С одной стороны - мы были рады возможности побывать за границей, с другой: у нас много дел здесь.
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">21.&#160&#160  В каких предложениях слово "(на)встречу" можно написать как слитно,
                                     так и раздельно, если раскрыть скобки?
                                </br> 1. <i>Ни огня, ни тёмной яхты.
                                </br> &#160 &#160Глушь и снег (на)встречу мне.
                                </br> 2. Будь добр, пойди (на)встречу.
                                </br> 3. (На)встречу мне шёл человек в тёмном сюртуке.
                                </br> 4. Я спешил (на)встречу.</i>
                                </i> &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  2, 4
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  1, 2
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  3, 4
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  1, 3
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">22.&#160&#160  В каком предложении подчёркнутое слово правильно связывает слова? &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  Новичок имел преимущество <u>над</u> всеми остальными спортсменами.
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  Она чувствовала превосходство <u>над</u> другими.
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  Писатель задумал <u>о</u> новом сценарии фильма.
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  Венера делилась с подругой <u>о</u> своих мечтах.
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">23.&#160&#160  В каком предложении следует поставить запятую на место подчёркнутого пробела? &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  Для учреждения необходим большой___ письменный стол. 
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  Для учреждения необходим большой___ массивный стол.
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  Для учреждения необходим большой___ деревянный стол. 
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  Для учреждения необходим большой___ офисный стол.
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">24.&#160&#160  Каким словом следует заменить подчёркнутое слово в предложении, чтобы оно сохранило свой смысл?
                                    </br><i>Все талантливые люди пишут разно, все <u>неспособные</u> люди пишут одинаково и даже одним почерком (И. Ильф).</i> &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  способные 
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  никчёмные
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  бездарные 
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  обыкновенные
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">25.&#160&#160  В каком предложении НЕДОСТАЁТ слова для правильного оформления мысли? &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  Критика сразу отметила современность и злободневность первого романа Гончарова.
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  После публикации статьи читатели отнюдь не единодушно приняли её заглавие и содержание.
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  Настоящее искусство способно активно воздействовать на мироощущение и поведение читателя.
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  Главным редакторам рекомендовано не допускать на страницы печати и телевизоров непроверенной информации.
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">26.&#160&#160  На месте каких (какой) цифр (цифры) следует поставить запятую в предложении?
                                    <i>Лимонница (1) жёлтая (2) бабочка (3) села на мою руку.</i> &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  1 только
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  2 только
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  1 и 3 только
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  1, 2, 3
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">27.&#160&#160  Какое предложение соответствует сфере его употребления, указанной в скобках? &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  Пищевая ценность клубней картошки определяется количеством в них крахмала (из энциклопедии).
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  Микроволновая печка позволяет быстро приготовить пищу (из инструкции).
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  Можно выйти в интернет и познакомиться с рефератами, курсовыми и дипломными работами (из молодёжного журнала).
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  Выбор ткани для платьишка зависит от его назначения и сезона (руководство по шитью).
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">28.&#160&#160  Какой порядок знаков препинания соответствует пробелам в предложении?
                                </br><i>Встанешь утром _______ войдешь в сад _______ роса блестит на цветах _______ шумят птицы и насекомые _______ на небе ни облачка.</i> &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  двоеточие, тире, запятая, точка с запятой
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  запятая, двоеточие, точка с запятой, тире
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  тире, запятая, запятая, двоеточие
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  запятая, двоеточие, запятая, запятая
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">29.&#160&#160  Какое слово следует употребить со словом "самый"? &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  ближайший
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  талантливейший
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  прекраснейший
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  мельчайший
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">30.&#160&#160  В каком слове следует вставить вместо пробелов букву <u>и</u>? &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  Заявление можно было подать в течени__ дня.
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  И в продолжени__ рассказа не было ответа на мой вопрос.
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  В закончени__ оратор рассказал довольно смешную историю.
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  Во избежани__ подсказки конкурсантов приглашали по одному.
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->


            <a th:href="@{#header}" class="test-btn-next"> Следующий </a>
        </div>
    </div>

<footer th:include="/fragments/footer"></footer>
<script th:src="@{/js/timer.js}"></script>
</body>
</html>