<footer class="footer">
    <div class="container">
        <div class="footer-row">
            <div class="footer-col">
                <div class="footer-copyright-name">
                    www.ort.kg
                </div>
                <p>Подготовка к Общереспубликанскому тестированию</p>
            </div>
            <div class="footer-icons footer-col">
                <p>Наши профили в социальных сетях:</p>
                <div class="footer-icons-row">
                    <element class="icon1">
                        <a th:href="@{https://www.instagram.com/ort.online/}">
                            <img th:src="@{/img/icons/instagram 1.svg}" alt="">
                        </a>
                    </element>

                    <element class="icon2">
                        <a th:href="@{https://www.facebook.com/profile.php?id=100028092318675}">
                            <img th:src="@{/img/icons/facebook-f 1.svg}" alt="">
                        </a>
                    </element>

                    <element class="icon3">
                        <a th:href="@{https://vk.com/id579495841}">
                            <img th:src="@{/img/icons/vk-brands 1.svg}" alt="">
                        </a>
                    </element>

                    <element class="icon4">
                        <a th:href="@{#}">
                            <img th:src="@{/img/icons/linkedin-in-brands.svg}" alt="">
                        </a>
                    </element>

                    <element class="icon5">
                        <a th:href="@{https://github.com/ibraimov2000}">
                            <img th:src="@{/img/icons/github-brands.svg}" alt="">
                        </a>
                    </element>
                </div>
            </div>

            <div class="footer-contacts footer-col">
                <a th:href="@{https://vk.me/id579495841}" class="footer-button">
                    Связаться Вконтакте
                </a>

                <p>Напишите нам, если у вас возникли какие-то вопросы.</p>
            </div>
        </div>
    </div>
</footer>