<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пробное онлайн тестирование!</title>
    <link rel="shortcut icon"  th:href="@{/img/icons/favicon1.png}" type="image/png">
    <link rel="stylesheet" type="text/css"  th:href="@{/test.css/test.css}">
    <link rel="stylesheet" type="text/css"  th:href="@{/css/media.css}">
    <link href="@{https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,600&display=swap" rel="stylesheet">
</head>