<head th:include="head"></head>

    <div class="main-test-header-container" id="header">
        <div class="main-test-header"> 
            <h1>Аналогии и дополнение предложений</h1>
            <h3 id="timer"> </h3>
        </div>   
    </div>    

    

    <div class="container" id="questions">

           
            <input type="checkbox" id="raz" class="del"/>
            <label for="raz" class="del">Показать инструкцию</label>
            
            <div>
                <h2>Инструкция</h2>
                Каждое задание состоит из пяти пар слов. Выделенная жирным шрифтом пара показывает образец отношений между двумя словами.
                Определите, какие отношения существуют между словами в этой паре, а затем выберите в вариантах ответа пару слов с такими же отношениями.
                 Порядок слов в выбранном вами ответе должен быть таким же, как и в образце.
                 <hr>
                </br>
            </div>
     

        <div class="tests-cards-wrapper">

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>1.&#160&#160  костюм : одежда &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  мех : животное
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  комбинезон : рабочий
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  мебель : диван
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  кольцо : украшение   
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>2.&#160&#160  утюг : гладить &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  компьютер : играть
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  фонарь: освещать
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  стол : обедать
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  суп : варить
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>3.&#160&#160  пальто : пуговица &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  перчатка : рука
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  пояс : платье
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  ботинок : шнурок
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  кепка : козырёк
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>4.&#160&#160  вскопать : посеять &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  обучить : натренировать
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  увеличить : умножить
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  построить : заселить
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  отрезать : пришить
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>5.&#160&#160  пасечник : пчела &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  рыбак : рыба
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  пастух : стадо
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  фермер : корова
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  свекловод : свёкла
                            </form>  
                </div>     
            </div>
            <!--// Card-->
        
            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>6.&#160&#160  мёрзнуть : холодно &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  сушить : мокро
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  кричать : громко
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  загорать : жарко
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  спать : темно
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>7.&#160&#160  лекарство : болезнь &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  медаль : подвиг
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  волнение : покой
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  поломка : починка
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  утешение : печаль
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>8.&#160&#160  ручка : писать &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  краска : рисовать
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  кисть : красить
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  нитка : вышивать
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  глина : лепить
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>9.&#160&#160  день : воскресенье &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  буква : воскресенье
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  месяц : май
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  цифра : пять
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  год : сезон
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>10.&#160&#160  повседневный : праздничный &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  обычный : особенный
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  странный : необычный
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  простой : общепринятый
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  своеобразный : неповторимый
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>11.&#160&#160  осторожность : беда &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  плащ : дождь
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  банк : накопление
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  запасливость : дефицит
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  дальновидность : успех
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>12.&#160&#160  швея : одежда &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  каменщик : кирпич
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  столяр : мебель
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  рыбак : улов
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  сапожник : туфли
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>13.&#160&#160  бедность : безработица &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  урожай : засуха
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  работа : усталость
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  разрушения : война
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  дефицит : голод
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>14.&#160&#160  пассажирский : поезд &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  комфортабельный : автобус
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  новый : автомобиль
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  почтовый : вагон
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  грузовой : самолёт
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>15.&#160&#160  сейф : металл &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  дверь : дерево
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  коробка : картон
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  чашка : фарфор
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  сковорода : чугун
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>16.&#160&#160  весна : осень &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  утро : вечер
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  тепло : холод
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  восток : запад
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  снег : дождь
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>17.&#160&#160  нарушение : взыскание &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  решение : задача
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  опасность : страх
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  травма : падение
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  обида : несправедливость
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>18.&#160&#160  банальный : оригинальный &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  необычный : обособленный
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  заурядный : выдающийся
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  обыкновенный : простой
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  новый : надоевший
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>19.&#160&#160  декорация : украшение &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  деформация : искажение
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  демилитаризация : вооружение
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  девальвация : повышение
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  деградация : обновление
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>20.&#160&#160  насмешливый : ироничный &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  реальный : ирреальный
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  британский : ирландский
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  разумный : иррациональный
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  оросительный : ирригационный
                            </form>  
                </div>     
            </div>
            <!--// Card-->



            <!-- ДОПОЛНЕНИЯ -->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>21.&#160&#160  В настоящее время многие дикие животные Кыргызстана стали настолько _______, что их стало невозможно
                     сфотографировать в естественной среде. &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  распространёнными
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  агрессивными
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  редкими
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  пугливыми
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>22.&#160&#160  Рабочие были очень довольны своим новым цехом, ведь в нём были созданы идеальные условия, способствующие _______. &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  эффективной работе
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  полноценному отдыху
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  общению друг с другом
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  творческим раздумьям
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>23.&#160&#160  Главная задача _______ состоит в том, чтобы _______. &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  археолога / изучать наскальную живопись
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  горного спасателя / подниматься в горы
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  спортсмена / победить в соревнованиях
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  продавца / изучать покупательский спрос на товары
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>24.&#160&#160  _______ опоздал, потому что  его прибытие _______ от _______. &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  Скорый поезд / зависит / расписания
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  Самолёт / зависит / погодных условий
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  Рейсовый автобус / не зависит / расписания
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  Пароход / не зависит / погодных условий
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>25.&#160&#160  _______ совет, который тебе _______ в нужный момент, _______ значительно _______ твой выбор. &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  Разумный / не дали / может / облегчить
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  Бесполезный / не дали / может / затруднить
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  Полезный / дали / может / облегчить
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  Вредный / дали / не может / затруднить
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>26.&#160&#160  _______ должен выполнять свою работу _______, а значит, _______ и _______. &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  Официант / быстро / вежливо / добросовестно
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  Судья / обстоятельно / внимательно / без спешки
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  Дворник / регулярно / тщательно / полностью
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  Писатель / творчески / планомерно / последовательно
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>27.&#160&#160  _______ война не может быть _______. _______ являются _______ войны. &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  Захватническая / победной / Победными / освободительные
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  Захватническая / справедливой / Справедливыми / освободительные
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  Длительная / победной / Победными / короткие
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  Длительная / справедливой / Справедливыми / короткие
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>28.&#160&#160  Часто не опыт, а отношение к работе определяет её результат, поэтому _______ работник может выполнить работу _______, чем _______ мастер. &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  опытный, но недобросовестный / лучше / добросовестный и опытный
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  молодой и неопытный / хуже / опытный, но небрежный
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  неопытный, но добросовестный / лучше / небрежный, но опытный
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  старательный и знающий / хуже / опытный и добросовестный
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>29.&#160&#160  Он был настолько убеждён в том, что люди руководствуются _______ мотивами, что не признавал существование
                     совершенно _______ поступков. &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  благородными / бескорыстных
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  личными / бескорыстных
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  внутренними / достойных
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  сентиментальными / достойных
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <!--Card-->
            <div class="card">
                <div class="card-link">
                    
                    <h3 class="card-title"><strong>30.&#160&#160  _______ цен на овощи и фрукты вследствие _______ привело к _______.  &#160</strong> </h3>
                            <form name="m1" action="" method="post">
                        
                                <br><input type="radio" name="rb1" value="0"> (A) &#160  Снижение / увеличения импорта / повышению продаж
                                <br><input type="radio" name="rb1" value="1"> (Б) &#160  Снижение / большого урожая / снижению продаж 
                                <br><input type="radio" name="rb1" value="0"> (В) &#160  Увеличение / заморозков / повышению продаж 
                                <br><input type="radio" name="rb1" value="0"> (Г) &#160  Увеличение / расширения овощехранилища / снижению продаж
                            </form>  
                </div>     
            </div>
            <!--// Card-->

            <a th:href="@{/main_tests/option_2_rus/reading}" class="test-btn-next"> Следующий </a>
        </div>
    </div>
    
<footer th:include="footer"></footer>