<head th:include="head"></head>

    <div class="main-test-header-container" id="header">
        <div class="main-test-header"> 
            <h1>Практическая грамматика русского языка</h1>
            <h3 id="timer"> </h3>
        </div>   
    </div>    

    

    <div class="container" id="questions">

           
            <input type="checkbox" id="raz" class="del"/>
            <label for="raz" class="del">Показать инструкцию</label>
            
            <div>
                <h2>Инструкция</h2>
                    В тесте есть задания, при выполнении которых вам нужно:
                    <ul>
                        <li>проанализировать слова, словосочетания или предложения и найти правильный ответ в приведённых вариантах;</li>
                        <li>вставить буквы;</li>
                        <li>поставить знаки препинания;</li>
                        <li>достроить предложения;</li>
                        <li>подобрать синонимы или антонимы;</li>
                        <li>найти ошибку;</li>
                    </ul>
                    Пропуски букв в словах и слов в предложениях обозначены тремя точками.
                </br>Материал для анализа (предложения, слова, словосочетания) в задании помещён под вопросом и выделен курсивом.
                </br>В заданиях, где есть скобки, вам нужно выбрать вариант слитного, раздельного или дефисного написания слов.
                </br>В предложениях с пропущенными знаками препинания предлагаемое место постановки знака обозначено подчёркнутым пробелом или цифрой.
                </br>Варианты ответов обозначены заглавными буквами русского алфавита.
                </br>Каждое задание имеет только один вариант правильного ответа.
                

                 <hr>
                </br>
            </div>

     

        <div class="tests-cards-wrapper">

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title"><strong>1.&#160&#160  Каким выражением следует закончить предложение?
                                     <i>Эта книга переведена ... .</i> &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  из русского языка
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  в русском языке
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  на русском языке
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  с русского языка
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title"><strong>2.&#160&#160  Какой порядок букв соответствует пропускам в словах?
                                </br><i>Напиш...шь, приед...шь, достан...шь, умнож...шь</i> &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  и, и, и, и
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  е, е, е, и
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  и, и, е, е
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  е, е, е, е
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title"><strong>3.&#160&#160  С каким словом сочетается слово <u>крупный</u>(-ая / -ое)? &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  тетрадь
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  плод
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  платье
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  стена 
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title"><strong>4.&#160&#160  В каком предложении вместо пробела следует поставить запятую? &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  Экзамены кончились, весна кружила голову_ и сердце жаждало любви.
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  Тысячи насекомых проснулись в высокой траве_ и наполнили воздух неповторимым скрежетанием.
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  От волнения он посмеивался_ и гораздо быстрее обычного произносил слова.
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  Мало-помалу облака сгущались_ и наконец превратились в слоистые тучи.
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title"><strong>5.&#160&#160  В каком предложении подчёркнутое слово употреблено в правильной форме? &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  У нас нет <u>время</u>.
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  Из <u>улей</u> вылетели первые пчёлы.
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  Она <u>детями</u> своими довольна.
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  Люди почувствовали себя <u>хозяевами</u> своей страны.
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">6.&#160&#160  Какой слово следует вставить в предложение вместо точек?
                                
                                </br><i>На новом предприятии используется более ... оборудование.</i>  &#160 </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  модное
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  прогрессивное
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  современное
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  цивилизованное
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">7.&#160&#160  Какое подчёркнутое слово употреблено в правильной форме? &#160 </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  спортсмен, <u>сумеющий</u> пробеждать стометровку
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  школьник, <u>попытающийся</u> выполнить сложное задание
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  ученик, <u>напишущий</u> быстрее всех
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  мальчик, <u>играющий</u> с мячом
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">8.&#160&#160  На месте каких цифр следует написать букву "и"? 
                                <br><i>Как н(1) старался Бим, он н(2) как н(3) мог взять след: н(4) одного знакомого на этой улице он н(5) учуял.</i> &#160 </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  1, 2, 3 только
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  3, 5 только
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  4, 5 только
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  1, 2, 4 только
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">9.&#160&#160  В каком слове следует вместо точек писать букву "о"? &#160 </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  отк...зать в просьбе
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  вопл...тить в жизнь
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  препод...вать в школе
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  огр...ничить в выборе
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">10.&#160&#160  Каким выражением следует закончить данное предложение, чтобы сохранились все знаки препинания?
                                
                                </br><i>Меня часто спрашивают: "...?" </i>  &#160 </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  Как ты себя чувствуешь
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  Занимаюсь ли я спортом
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  Как я пишу книги 
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  Читал ли я книги А.Беляева
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">11.&#160&#160  Какой порядок букв соответствует пропускам в словах?
                                
                                </br><i>По об...им сторонам улицы, об...ими руками</i>  &#160 </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  о, е
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  е, е
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  е, о
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  о, о
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">12.&#160&#160  Каким словом уместно заменить подчёркнутые в словосочетаниях?
                                
                                </br><i><u>Прочный</u> стол, <u>глубокий</u> сон, <u>здоровый</u> организм, <u>верная</u> дружба</i>  &#160 </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  твёрдый
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  тяжёлый
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  крепкий
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  нерушимый
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">13.&#160&#160  Какое выражение следует вставить вместо точек в данное предложение?
                                <br><i>Добившись согласия директора, ... .</i> &#160 </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  музейные экспонаты были размещены в фойе
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  мы перенесли уроки физкультуры на субботу
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  был создан уголок живой природы
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  в школе была организована секция бокса
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">14.&#160&#160  В каком предложении правильно передана чужая речь? &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  Учитель предупредил нас, что будьте в школе ровно в 8 часов.  
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  Водитель автобуса нас уверял, что я довезу вас до города за 15 минут.
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  Подруга поинтересовалась, что я буду делать на каникулах.
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  Прохожий спросил, что здесь ли находится почта.
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">15.&#160&#160  В каком предложении подчёркнутое слово употреблено в правильной форме? &#160 </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  Скоро будет показан спектакль, <u>создающийся</u> школьным драмкружком.
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  Задание, <u>выполняющееся</u> нами, не вызывает затруднений.
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  Регулярно <u>выпускающаяся</u> стенгазета информирует о жизни школы.
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  Книги, <u>пользующиеся</u> большим спросом, обычно ставятся на витрину.
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">16.&#160&#160  В каком предложении подчёркнутое слово не является лишним? &#160 </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  В ответ он кивнул <u>головой</u>.
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  Я назвал свой <u>собственный</u> номер телефона.
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  Предложите <u>другую</u> альтернативу данному решению.
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  Мне захотелось сделать подруге <u>памятный</u> подарок.
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">17.&#160&#160  Какое слово необходимо вставить вместо точек в данное предложение?
                                <br><i>Работа была выполнена в течение пяти дней вместо ... шести.</i>&#160 </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  предположенных
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  предположительных
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  предполагавшихся
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  предполагающихся
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">18.&#160&#160  В каком предложении подчёркнутое слово употреблено в соответствии со значением? &#160 </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  <u>Исправьте</u> меня, если ошибусь.
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  Курица <u>высиживает</u> яйца.
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  Следовательно <u>определить</u> по полкам новые книги.
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  <u>Распишитесь</u> в получении бандероли.
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">19.&#160&#160  В каком порядке следует поставить предложения, чтобы получился текст?
                                </br> 1. <i>Много было сделано различных изобретений
                                </br> 2. Веками бушующая стихия пугала человека.
                                </br> 3. Но вопреки всем последним достижениям науки количество пострадавших от молний в последнее столетие неуклонно растёт.
                                </br> 4. Их боялись, заклинали, пытались обуздать.
                                </br> 5. Молнии, бьющие с неба, несущие смерть и пожары, казались стрелами богов.</i> &#160 </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  2, 1, 3, 4, 5
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  5, 4, 1, 3, 2
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  2, 5, 4, 1, 3
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  1, 3, 5, 4, 2
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">20.&#160&#160  На месте каких цифр в предложении следует поставить запятую?
                                </br>
                                </br><i>Я совсем растерялся (1) не понимая происходящего (2) и (3) стоя на одном месте (4) бессмысленно смотрел на удаляющегося человека.</i> &#160 </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  1, 4
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  2, 4
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  1, 2, 3
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  1, 2, 3, 4
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">21.&#160&#160  В каком предложении слова, обозначающие число, употреблены в НЕПРАВИЛЬНОЙ форме? &#160 </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  Прибыл поезд с двумястами шестьюдесятью пятью пассажирами.
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  Температура дошла до тридцати девяти градусов.
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  Можно обойтись и двумя тысячами сомов.
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  На пятьсот сорока девяти растениях обнаружили новые побеги.
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">22.&#160&#160  Какое слово является противоположным по значению выделенному в предложении?
                                </br><i>Производство выступает _______ пунктом всего экономического процесса, а потребление - <u>конечным</u>.</i> &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  первым
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  исходным
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  стартовым
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  главным
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">23.&#160&#160  Какое из подчёркнутых слов следует писать слитно, если убрать скобки? &#160 </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  Идти <u>(в)обход</u>
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  Платить <u>(в)рассрочку</u> 
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  Отказаться <u>(на)отрез</u> 
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  Отмерить <u>(на)глаз</u>
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">24.&#160&#160  В каком предложении подчёркнутое слово употреблено в соответствии со смыслом предложения? &#160 </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  Вы знали, что фотографии <u>опасаются</u> света?
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  В ответ мы услышали <u>азартную</u> речь ведущего.
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  На миг спортсменка ощутила <u>торжество</u> победы.
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  На встречах шутя говорили о <u>высоких</u> материях или читали классику.
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">25.&#160&#160  В каком варианте предложения правильно расставлены знаки препинания? &#160 </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  Не суди да не судим будешь, вот истина.
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  Не суди, да не судим будешь; вот истина.
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  Не суди да не судим будешь - вот истина.
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  Не суди - да не судим будешь: вот истина.
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card -->
                        <div class="card">
                            <div class="card-link">

                                <h3 class="card-title">26.&#160&#160  Какой порядок слов скобок следует выбрать для данных предложений?
                                <br><i>Почему он стал <span class="under_num">терпим</span> к <span class="under_num2">тому</span>, к чему недавно был (нестерпим, нетерпим)?
                             Вы <span class="under_num3">добавляете</span> в свои <span class="under_num4">кремы</span>
                            <span class="under_num5">(ароматические, ароматичные)</span> масла?
                             В ваше <span class="under_num6">(воспитательное, воспитательское)</span> учреждение требуются сотрудники? </i> &#160 </h3>
                                        <form name="m1" action="" method="post">

                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  1, 4, 6
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  2, 3, 5
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  1, 3, 6
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  2, 4, 5
                                        </form>
                            </div>
                        </div>
                        <!-- // Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">27.&#160&#160  Какой порядок букв соответствует пропускам в словах?
                                <br><i>Это право гарантирова...о законом.</i> 
                                <br><i>Чем обусловле...о такое поведение?</i>
                                <br><i>Она всегда сдержа...а и сосредоточе...а.</i>&#160 </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  н, н, нн, нн
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  нн, н, н, нн
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  нн, нн, нн, н
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  н, нн, н, н
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">28.&#160&#160  В каком предложении подчёркнутые слова употреблены в правильной форме? &#160 </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  Вокруг костора <u>сидели и разговаривали</u> группа студентов.
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  Ряд школ <u>ввело</u> в свои программы предмет "Финансовая грамотность".
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  Часть средств от продажи оборудования <u>пойдет</u> на ремонт крыши.
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  Молодежь из разных регионов страны <u>демонстрировали</u> свои достижения.
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">29.&#160&#160  В каком предложении все слова согласованы правильно? &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  Родители заботятся и переживают даже за взрослых детей.
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  Я понимаю и сочувствую стремлению автора осветить эту сложную проблему.
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  Опубликована программа правительства "О предупреждении и борьбе с незаконной торговле".
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  Школьники оказывают земледельцам помощь в выращивании и уборке урожая.
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->

                        <!--Card-->
                        <div class="card">
                            <div class="card-link">
                                
                                <h3 class="card-title">30.&#160&#160  На месте каких цифр следует поставить запятые?
                                    <br><i>Бабушка(1) или(2) как её называли в доме(3) бабуся(4) говорила громко.</i> &#160</strong> </h3>
                                        <form name="m1" action="" method="post">
                                    
                                            <br><input type="radio" name="rb1" value="0"> (A) &#160  1, 2, 4 только
                                            <br><input type="radio" name="rb1" value="1"> (Б) &#160  2, 3 только
                                            <br><input type="radio" name="rb1" value="0"> (В) &#160  3, 4 только
                                            <br><input type="radio" name="rb1" value="0"> (Г) &#160  1, 2, 3, 4
                                        </form>  
                            </div>     
                        </div>
                        <!--// Card-->


            <a th:href="@{#header}" class="test-btn-next"> Закончить тест </a>
        </div>
    </div>

    <footer th:include="footer"></footer>