<head th:include="head"></head>
<body> 
    <div class="main-test-header-container" id="header">
        <div class="main-test-header"> 
            <h1>Англис тили</h1>
            <h3 id="timer"> </h3>
        </div>   
    </div>    

    

    <div class="container" id="questions">

        <div class="tests-cards-wrapper">

                                    <!--Card-->
                                    <div class="card">
                                        <div class="card-link">
                                            
                                            <h3 class="card-title">1.&#160&#160  <i>Numbers are for machines _______ names are for people.</i>
                                            </br>
                                            </br>Which of the following variants must be used in the blank in the sentence given above? &#160</strong> </h3>
                                                    <form name="m1" action="" method="post">
                                                
                                                        <br><input type="radio" name="rb1" value="0"> (A) &#160  that's why
                                                        <br><input type="radio" name="rb1" value="1"> (B) &#160  because
                                                        <br><input type="radio" name="rb1" value="0"> (C) &#160  and 
                                                        <br><input type="radio" name="rb1" value="0"> (D) &#160  that
                                                    </form>  
                                        </div>     
                                    </div>
                                    <!--// Card-->

                                    <!--Card-->
                                    <div class="card">
                                        <div class="card-link">
                                            
                                            <h3 class="card-title">2.&#160&#160  <r class="ramka"> NO CYCLING ON THE FOOTPATHS</r>
                                            </br>
                                            </br>Where would you probably see the notice given above? &#160</strong> </h3>
                                                    <form name="m1" action="" method="post">
                                                
                                                        <br><input type="radio" name="rb1" value="0"> (A) &#160  On a tennis court
                                                        <br><input type="radio" name="rb1" value="1"> (B) &#160  In the underground
                                                        <br><input type="radio" name="rb1" value="0"> (C) &#160  On a motorway
                                                        <br><input type="radio" name="rb1" value="0"> (D) &#160  In a park
                                                    </form>  
                                        </div>     
                                    </div>
                                    <!--// Card-->

                                    <!--Card-->
                                    <div class="card">
                                        <div class="card-link">
                                            
                                            <h3 class="card-title">3.&#160&#160  <i>Damira's father_______ much all over the world.</i>
                                            </br>
                                            </br>Which of the following variants must be used in the blank in the sentence given above? &#160</strong> </h3>
                                                    <form name="m1" action="" method="post">
                                                
                                                        <br><input type="radio" name="rb1" value="0"> (A) &#160  travel
                                                        <br><input type="radio" name="rb1" value="1"> (B) &#160  is travelling
                                                        <br><input type="radio" name="rb1" value="0"> (C) &#160  travels
                                                        <br><input type="radio" name="rb1" value="0"> (D) &#160  travelling
                                                    </form>  
                                        </div>     
                                    </div>
                                    <!--// Card-->

                                    <!--Card-->
                                    <div class="card">
                                        <div class="card-link">
                                            
                                            <h3 class="card-title">4.&#160&#160  Which of the underlined parts of the sentence given below must be changed to make it correct?
                                            </br><i>When <u>going out</u> on <u>special occasions</u> my</i>
                                            </br> &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 A  &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 B
                                            </br> <i>elder sister <u>likes dress</u> <u>up</u>.</i>
                                            </br>&#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 C   &#160 &#160 &#160 &#160D &#160</strong> </h3>
                                                    <form name="m1" action="" method="post">
                                                
                                                        <br><input type="radio" name="rb1" value="0"> (A) &#160  
                                                        <br><input type="radio" name="rb1" value="1"> (B) &#160  
                                                        <br><input type="radio" name="rb1" value="0"> (C) &#160  
                                                        <br><input type="radio" name="rb1" value="0"> (D) &#160  
                                                    </form>  
                                        </div>     
                                    </div>
                                    <!--// Card-->

                                    <!--Card-->
                                    <div class="card">
                                        <div class="card-link">
                                            
                                            <h3 class="card-title">5.&#160&#160  <i>They _______ us an interesting story.</i>
                                            </br>
                                            </br>Which of the following variants must be used in the blank in the sentence given above? &#160</strong> </h3>
                                                    <form name="m1" action="" method="post">
                                                
                                                        <br><input type="radio" name="rb1" value="0"> (A) &#160  said
                                                        <br><input type="radio" name="rb1" value="1"> (B) &#160  told
                                                        <br><input type="radio" name="rb1" value="0"> (C) &#160  spoke
                                                        <br><input type="radio" name="rb1" value="0"> (D) &#160  talked
                                                    </form>  
                                        </div>     
                                    </div>
                                    <!--// Card-->

                                    <!--Card-->
                                    <div class="card">
                                        <div class="card-link">
                                            
                                            <h3 class="card-title">6.&#160&#160  Each working day Helen:
                                            </br> &#160&#160 &#160&#160 1. speaks on the phone
                                            </br> &#160&#160 &#160&#160 2.  writes reports
                                            </br> &#160&#160 &#160&#160 3.  welcomes
                                            </br> &#160&#160 &#160&#160 4.  sees off
                                            </br> &#160&#160 &#160&#160 5.  greets
                                            </br> &#160&#160 &#160&#160 6.  meets
                                            </br> &#160&#160 &#160&#160 7.  registers
                                            </br> &#160&#160 &#160&#160 8.  invites to the boss' office
                                        </br>&#160&#160  At the same time Alexei:
                                            </br> &#160&#160 &#160&#160 1.  turns on
                                            </br> &#160&#160 &#160&#160 2.  shuts down
                                            </br> &#160&#160 &#160&#160 3.  prints
                                            </br> &#160&#160 &#160&#160 4.  opens files
                                            </br> &#160&#160 &#160&#160 5.  creates files
                                            </br> &#160&#160 &#160&#160 6.  connects and disconnects
                                            </br> &#160&#160 &#160&#160 7.  works with software and hardware

                                        </br>Which of the following variants represents Helen's and Alexei's jobs? &#160</strong> </h3>
                                                    <form name="m1" action="" method="post">
                                                
                                                        <br><input type="radio" name="rb1" value="0"> (A) &#160  H: a teacher; A: a computer programmer
                                                        <br><input type="radio" name="rb1" value="1"> (B) &#160  H: a receptionist; A: a computer programmer
                                                        <br><input type="radio" name="rb1" value="0"> (C) &#160  H: a sound technician; A: an accountant
                                                        <br><input type="radio" name="rb1" value="0"> (D) &#160  H: a producer; A: a general practitioner
                                                    </form>  
                                        </div>     
                                    </div>
                                    <!--// Card-->

                                    <!--Card-->
                                    <div class="card">
                                        <div class="card-link">
                                            
                                            <h3 class="card-title">7.&#160&#160  <i>John is 21 years old.</i>
                                                                </br> &#160&#160&#160 &#160  <i>Mary is 21 years old, too.</i>
                                                                </br> &#160&#160&#160 &#160  <i>John is _______ Mary.</i>
                                            </br>
                                            </br>Which of the following variants must be used in the blank in the sentence given above? &#160</strong> </h3>
                                                    <form name="m1" action="" method="post">
                                                
                                                        <br><input type="radio" name="rb1" value="0"> (A) &#160  not so old as
                                                        <br><input type="radio" name="rb1" value="1"> (B) &#160  as old as
                                                        <br><input type="radio" name="rb1" value="0"> (C) &#160  so old as
                                                        <br><input type="radio" name="rb1" value="0"> (D) &#160  older
                                                    </form>  
                                        </div>     
                                    </div>
                                    <!--// Card-->

                                    <!--Card-->
                                    <div class="card">
                                        <div class="card-link">
                                            
                                            <h3 class="card-title">8.&#160&#160  I. Cholpon sometimes drinks tea with lunch.
                                                                </br> &#160&#160&#160 &#160  II. Sometimes Cholpon drinks tea with lunch.
                                                                </br> &#160&#160&#160 &#160  III. Cholpon drinks tea with lunch sometimes.
                                                                </br> &#160&#160&#160 &#160  IV. Cholpon drinks tea with sometimes lunch.
                                            </br>
                                            </br>Which of the following variants is correct for the sentences given above? &#160</strong> </h3>
                                                    <form name="m1" action="" method="post">
                                                
                                                        <br><input type="radio" name="rb1" value="0"> (A) &#160  I and II only
                                                        <br><input type="radio" name="rb1" value="1"> (B) &#160  I, II and III only
                                                        <br><input type="radio" name="rb1" value="0"> (C) &#160  II, III and IV only
                                                        <br><input type="radio" name="rb1" value="0"> (D) &#160  I, II, III and IV
                                                    </form>  
                                        </div>     
                                    </div>
                                    <!--// Card-->

                                    <!--Card-->
                                    <div class="card">
                                        <div class="card-link">
                                            
                                            <h3 class="card-title">9.&#160&#160  Where does Aisha probably live if these are the things she did today: (1) milked the cows; (2) fed the chickens; (3) watered the vegetables? &#160</strong> </h3>
                                                    <form name="m1" action="" method="post">
                                                
                                                        <br><input type="radio" name="rb1" value="0"> (A) &#160  In a block of flats
                                                        <br><input type="radio" name="rb1" value="1"> (B) &#160  On a farm
                                                        <br><input type="radio" name="rb1" value="0"> (C) &#160  At the University campus
                                                        <br><input type="radio" name="rb1" value="0"> (D) &#160  In a greenhouse
                                                    </form>  
                                        </div>     
                                    </div>
                                    <!--// Card-->

                                    <!--Card-->
                                    <div class="card">
                                        <div class="card-link">
                                            
                                            <h3 class="card-title">10.&#160&#160  <i>Some animals are called insectivorous, _______ means their diet consists of insects.</i>
                                            </br>Which of the following words must be used to connect the parts of the sentence given above? &#160</strong> </h3>
                                                    <form name="m1" action="" method="post">
                                                
                                                        <br><input type="radio" name="rb1" value="0"> (A) &#160  which
                                                        <br><input type="radio" name="rb1" value="1"> (B) &#160  so 
                                                        <br><input type="radio" name="rb1" value="0"> (C) &#160  who
                                                        <br><input type="radio" name="rb1" value="0"> (D) &#160  what
                                                    </form>  
                                        </div>     
                                    </div>
                                    <!--// Card-->

                                    <!--Card-->
                                    <div class="card">
                                        <div class="card-link">
                                            
                                            <h3 class="card-title">11.&#160&#160  In which of the sentences given below does the underlined word mean "upper part of something or somebody"? 
                                        </br> &#160&#160  I. Two <u>heads</u> are better than one.
                                        </br> &#160&#160  II. The sudden <u>head</u> wind didn't let the athlete set the world record.
                                        </br> &#160&#160  III. The hostess welcomed her her guests standing at the <u>head</u> of the stairs.
                                        </br> &#160&#160  IV. Nick's aunt is the <u>head</u> teacher in his school.&#160</strong> </h3>
                                            <form name="m1" action="" method="post">
                                                
                                                        <br><input type="radio" name="rb1" value="0"> (A) &#160  I, II and IV only
                                                        <br><input type="radio" name="rb1" value="1"> (B) &#160  I and III only
                                                        <br><input type="radio" name="rb1" value="0"> (C) &#160  I and IV only
                                                        <br><input type="radio" name="rb1" value="0"> (D) &#160  II and III only
                                                    </form>  
                                        </div>     
                                    </div>
                                    <!--// Card-->

                                    <!--Card-->
                                    <div class="card">
                                        <div class="card-link">
                                            
                                            <h3 class="card-title">12.&#160&#160  <i>This book costs 5 dollars, and that one is 6 dollars. This book is _______ than that book.</i>
                                                </br>
                                                </br>Which of the following variants must be used in the blank in the sentence given above? &#160</strong> </h3>
                                                    <form name="m1" action="" method="post">
                                                
                                                        <br><input type="radio" name="rb1" value="0"> (A) &#160  less expensive
                                                        <br><input type="radio" name="rb1" value="1"> (B) &#160  more expensive
                                                        <br><input type="radio" name="rb1" value="0"> (C) &#160  the least expensive
                                                        <br><input type="radio" name="rb1" value="0"> (D) &#160  the most expensive
                                                    </form>  
                                        </div>     
                                    </div>
                                    <!--// Card-->

                                    <!--Card-->
                                    <div class="card">
                                        <div class="card-link">
                                            
                                            <h3 class="card-title">13.&#160&#160  <i>Through Masha and Dasha are twins, they look so different: Masha is good-looking but Dasha is rather _______.</i>
                                                </br>
                                                </br>Which of the following variants must be used in the blank in the sentence given above? &#160</strong> </h3>
                                                    <form name="m1" action="" method="post">
                                                
                                                        <br><input type="radio" name="rb1" value="0"> (A) &#160  witty
                                                        <br><input type="radio" name="rb1" value="1"> (B) &#160  plain
                                                        <br><input type="radio" name="rb1" value="0"> (C) &#160  modest
                                                        <br><input type="radio" name="rb1" value="0"> (D) &#160  handsome
                                                    </form>  
                                        </div>     
                                    </div>
                                    <!--// Card-->

                                    <!--Card-->
                                    <div class="card">
                                        <div class="card-link">
                                            
                                            <h3 class="card-title">14.&#160&#160  Three things that you can wear on your head are: &#160</strong> </h3>
                                                    <form name="m1" action="" method="post">
                                                
                                                        <br><input type="radio" name="rb1" value="0"> (A) &#160  a hat, a fur coat, a headscarf
                                                        <br><input type="radio" name="rb1" value="1"> (B) &#160  a cap, a handkerchief, a tie
                                                        <br><input type="radio" name="rb1" value="0"> (C) &#160  a kerchief, a helmet, a jacket
                                                        <br><input type="radio" name="rb1" value="0"> (D) &#160  a hat, a helmet, a kerchief
                                                    </form>  
                                        </div>     
                                    </div>
                                    <!--// Card-->

                                    <!--Card-->
                                    <div class="card">
                                        <div class="card-link">
                                            
                                            <h3 class="card-title">15.&#160&#160  <i>Urmat _______ English at school for 5 years by the 1<sup>st</sup>  of September next year.</i>
                                            </br>
                                            </br>Which of the following variants must be used in the blank in the sentence given above? &#160</strong> </h3>
                                                    <form name="m1" action="" method="post">
                                                
                                                        <br><input type="radio" name="rb1" value="0"> (A) &#160  will teach
                                                        <br><input type="radio" name="rb1" value="1"> (B) &#160  teaches
                                                        <br><input type="radio" name="rb1" value="0"> (C) &#160  will be teaching
                                                        <br><input type="radio" name="rb1" value="0"> (D) &#160  will have been teaching
                                                    </form>  
                                        </div>     
                                    </div>
                                    <!--// Card-->

                                    <!--Card-->
                                    <div class="card">
                                        <div class="card-link">
                                            
                                            <h3 class="card-title">16.&#160&#160  <i>Saltanat is in her teens.</i>
                                            </br>
                                            </br>How old do you think Saltanat is? &#160</strong> </h3>
                                                    <form name="m1" action="" method="post">
                                                
                                                        <br><input type="radio" name="rb1" value="0"> (A) &#160  She is more than 19.
                                                        <br><input type="radio" name="rb1" value="1"> (B) &#160  She is from 13 to 19.
                                                        <br><input type="radio" name="rb1" value="0"> (C) &#160  She is less than 13.
                                                        <br><input type="radio" name="rb1" value="0"> (D) &#160  She is as old as you think she is.
                                                    </form>  
                                        </div>     
                                    </div>
                                    <!--// Card-->

                                    <!--Card-->
                                    <div class="card">
                                        <div class="card-link">
                                            
                                            <h3 class="card-title">17.&#160&#160  <i>Teacher: Can you tell me how fast light travels?</i>
                                            </br>&#160&#160&#160&#160&#160 &#160  <i>Student: No, but I know that it gets here too early in the morning?</i>
                                            </br>
                                            </br>The student means that: &#160</strong> </h3>
                                                    <form name="m1" action="" method="post">
                                                
                                                        <br><input type="radio" name="rb1" value="0"> (A) &#160  He doesn't like to get up early.
                                                        <br><input type="radio" name="rb1" value="1"> (B) &#160  It's too early to travel.
                                                        <br><input type="radio" name="rb1" value="0"> (C) &#160  It's already light when he gets here.
                                                        <br><input type="radio" name="rb1" value="0"> (D) &#160  The teacher is too fast to ask questions.
                                                    </form>  
                                        </div>     
                                    </div>
                                    <!--// Card-->

                                    <!--Card-->
                                    <div class="card">
                                        <div class="card-link">
                                            
                                            <h3 class="card-title">18.&#160&#160  <i>This thing is described as "a vehicle with two wheels in tandem, usually propelled by pedals connected to the rear wheel by a chain, and having a saddle-like seat and handlebars for steering."</i>
                                            </br>
                                            </br>What is it? &#160</strong> </h3>
                                                    <form name="m1" action="" method="post">
                                                
                                                        <br><input type="radio" name="rb1" value="0"> (A) &#160  a trolley
                                                        <br><input type="radio" name="rb1" value="1"> (B) &#160  a motorcycle
                                                        <br><input type="radio" name="rb1" value="0"> (C) &#160  a motorscooter
                                                        <br><input type="radio" name="rb1" value="0"> (D) &#160  a bicycle
                                                    </form>  
                                        </div>     
                                    </div>
                                    <!--// Card-->

                                    <!--Card-->
                                    <div class="card">
                                        <div class="card-link">
                                            
                                            <h3 class="card-title">19.&#160&#160  <i>Look at Damira! She is playing tennis with the <u>last year's champion.</u></i>
                                            </br>
                                            </br>Which of the following questions are correct for the underlined part of the sentence given above?
                                            </br>&#160&#160                                         
                                        </br> &#160&#160  I. Who is playing tennis with the last year's champion.
                                        </br> &#160&#160  II. Who is she playing tennis with?
                                        </br> &#160&#160  III. What champion is she playing tennis with?
                                        </br> &#160&#160  IV. Whose champion is she playing tennis with? &#160</strong> </h3>
                                                    <form name="m1" action="" method="post">
                                                
                                                        <br><input type="radio" name="rb1" value="0"> (A) &#160  I and II only
                                                        <br><input type="radio" name="rb1" value="1"> (B) &#160  II and III only
                                                        <br><input type="radio" name="rb1" value="0"> (C) &#160  II and IV only
                                                        <br><input type="radio" name="rb1" value="0"> (D) &#160  III and IV only
                                                    </form>  
                                        </div>     
                                    </div>
                                    <!--// Card-->

                                    <!--Card-->
                                    <div class="card">
                                        <div class="card-link">
                                            
                                            <h3 class="card-title">20.&#160&#160  <i>Last year my friend Sue married _______ a Russian dancer.</i>
                                            </br>
                                            </br>Which of the following variants must be used in the blank in the sentence given above? &#160</strong> </h3>
                                                    <form name="m1" action="" method="post">
                                                
                                                        <br><input type="radio" name="rb1" value="0"> (A) &#160  _<sup>2</sup>
                                                        <br><input type="radio" name="rb1" value="1"> (B) &#160  with
                                                        <br><input type="radio" name="rb1" value="0"> (C) &#160  to
                                                        <br><input type="radio" name="rb1" value="0"> (D) &#160  on
                                                    </form>  
                                        </div>     
                                    </div>
                                    <!--// Card-->

                                    <!--Card-->
                                    <div class="card">
                                        <div class="card-link">
                                            
                                            <h3 class="card-title">21.&#160&#160  <i>Dan: Say, what's your favourite sport?</i>
                                            </br>&#160&#160&#160&#160&#160 &#160  <i>Ian: It's hard to say. I like golf a lot, but I guess I like tennis better.</i>
                                            &#160&#160&#160&#160  <i>Dan: How about a game sometime?</i>
                                            </br>&#160&#160&#160&#160&#160 &#160  <i>Ian: Sorry, I'm strictly a spectator - football, basketball, golf... I watch them all.</i>
                                            </br>
                                            </br>What's Ian's favourite pastime? &#160</strong> </h3>
                                                    <form name="m1" action="" method="post">
                                                
                                                        <br><input type="radio" name="rb1" value="0"> (A) &#160  Refereeing
                                                        <br><input type="radio" name="rb1" value="1"> (B) &#160  Playing sport games
                                                        <br><input type="radio" name="rb1" value="0"> (C) &#160  Viewing sport events
                                                        <br><input type="radio" name="rb1" value="0"> (D) &#160  Coaching
                                                    </form>  
                                        </div>     
                                    </div>
                                    <!--// Card-->

                                    <!--Card-->
                                    <div class="card">
                                        <div class="card-link">
                                            
                                            <h3 class="card-title">22.&#160&#160  <i>My Mom is an early-riser. She is used to _______ up early.</i>
                                            </br>
                                            </br>Which of the following variants must be used in the blank in the sentence given above? &#160</strong> </h3>
                                                    <form name="m1" action="" method="post">
                                                
                                                        <br><input type="radio" name="rb1" value="0"> (A) &#160  get
                                                        <br><input type="radio" name="rb1" value="1"> (B) &#160  getting
                                                        <br><input type="radio" name="rb1" value="0"> (C) &#160  got
                                                        <br><input type="radio" name="rb1" value="0"> (D) &#160  to get
                                                    </form>  
                                        </div>     
                                    </div>
                                    <!--// Card-->

                                    <!--Card-->
                                    <div class="card">
                                        <div class="card-link">
                                            
                                            <h3 class="card-title">23.&#160&#160  <i>Dmitry, <u>as well as</u> his cousins, <u>are</u> fond <u>of</u></i>
                                            </br> &#160 &#160 &#160 &#160 &#160 &#160&#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160A &#160 &#160  &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 B &#160 &#160 &#160 &#160 &#160 C
                                            </br> <i><u>going skiing</u> in the mountains.</i>
                                            </br>&#160 &#160 &#160 &#160&#160 D
                                            </br>
                                            </br>Which of the underlined parts of the sentence given above must be changed to make it correct? &#160</strong> </h3>
                                                    <form name="m1" action="" method="post">
                                                
                                                        <br><input type="radio" name="rb1" value="0"> (A) &#160  
                                                        <br><input type="radio" name="rb1" value="1"> (B) &#160  
                                                        <br><input type="radio" name="rb1" value="0"> (C) &#160  
                                                        <br><input type="radio" name="rb1" value="0"> (D) &#160  
                                                    </form>  
                                        </div>     
                                    </div>
                                    <!--// Card-->

                                    <!--Card-->
                                    <div class="card">
                                        <div class="card-link">
                                            
                                            <h3 class="card-title">24.&#160&#160  <i>Nowadaysall the TV programs _______ often _______ by advertisements.</i>
                                            </br>
                                            </br>Which of the following variants must be used in the blank in the sentence given above? &#160</strong> </h3>
                                                    <form name="m1" action="" method="post">
                                                
                                                        <br><input type="radio" name="rb1" value="0"> (A) &#160  has, interrupted
                                                        <br><input type="radio" name="rb1" value="1"> (B) &#160  is, interrupted
                                                        <br><input type="radio" name="rb1" value="0"> (C) &#160  are, interrupted
                                                        <br><input type="radio" name="rb1" value="0"> (D) &#160  are, being interrupted 
                                                    </form>  
                                        </div>     
                                    </div>
                                    <!--// Card-->

                                    <!--Card-->
                                    <div class="card">
                                        <div class="card-link">
                                            
                                            <h3 class="card-title">25.&#160&#160  <i>If Maria had caught a small fish, rather than an <u>enormous</u> one, her rod might not have snapped.</i>
                                            </br>
                                            </br>Which of the following variants is closest in meaning to the underlined in the sentence given above? &#160</strong> </h3>
                                                    <form name="m1" action="" method="post">
                                                
                                                        <br><input type="radio" name="rb1" value="0"> (A) &#160  tiny
                                                        <br><input type="radio" name="rb1" value="1"> (B) &#160  extremely small
                                                        <br><input type="radio" name="rb1" value="0"> (C) &#160  extremely large
                                                        <br><input type="radio" name="rb1" value="0"> (D) &#160  big 
                                                    </form>  
                                        </div>     
                                    </div>
                                    <!--// Card-->

                                    <!--Card-->
                                    <div class="card">
                                        <div class="card-link">
                                            
                                            <h3 class="card-title">26.&#160&#160 <i>Ice is cold, but fire is hot.
                                            </br>&#160 &#160 &#160 &#160 Stone is hard, but wool is _______.
                                            </i>
                                            </br>
                                            </br>Which is the right word to complete the analogy in the sentence given above? &#160</strong> </h3>
                                                    <form name="m1" action="" method="post">
                                                
                                                        <br><input type="radio" name="rb1" value="0"> (A) &#160  light
                                                        <br><input type="radio" name="rb1" value="1"> (B) &#160  warm
                                                        <br><input type="radio" name="rb1" value="0"> (C) &#160  soft
                                                        <br><input type="radio" name="rb1" value="0"> (D) &#160  heavy
                                                    </form>  
                                        </div>     
                                    </div>
                                    <!--// Card-->

                                    <!--Card-->
                                    <div class="card">
                                        <div class="card-link">
                                            
                                            <h3 class="card-title">27.&#160&#160 <i>Good, bad, excellent, fair</i>
                                            </br>
                                            </br>Which is the best way to logically arrange the words given above FROM THE WORST TO THE BEST? </h3>
                                                    <form name="m1" action="" method="post">
                                                
                                                        <br><input type="radio" name="rb1" value="0"> (A) &#160  Bad, fair, good, excellent
                                                        <br><input type="radio" name="rb1" value="1"> (B) &#160  Bad, good, excellent, fair
                                                        <br><input type="radio" name="rb1" value="0"> (C) &#160  Fair, bad, excellent, good
                                                        <br><input type="radio" name="rb1" value="0"> (D) &#160  Excellent, fair, good, bad
                                                    </form>  
                                        </div>     
                                    </div>
                                    <!--// Card-->

                                    <!--Card-->
                                    <div class="card">
                                        <div class="card-link">
                                            
                                            <h3 class="card-title">28.&#160&#160 <i>Oleg doesn't like to write about football. He'd rather write about music.</i>
                                            </br>
                                            </br>The idea of the sentence given above is: </h3>
                                                    <form name="m1" action="" method="post">
                                                
                                                        <br><input type="radio" name="rb1" value="0"> (A) &#160  Oleg had better write about music.
                                                        <br><input type="radio" name="rb1" value="1"> (B) &#160  Oleg would prefer music to football.
                                                        <br><input type="radio" name="rb1" value="0"> (C) &#160  Oleg had better write about football.
                                                        <br><input type="radio" name="rb1" value="0"> (D) &#160  Oleg would prefer to write about music.
                                                    </form>  
                                        </div>     
                                    </div>
                                    <!--// Card-->

                                    <p class="border-text"></p>
                                    <div class="container-row">
                                       <div class="container-row1"> 
                                     
                                        <div class="lines">
                                         
                                       </br></br></br>1</br></br></br></br>5</br></br></br></br></br>10</br></br></br></br></br>15
                                        </div>
                                        <div class="text">
                                            <i>Read the text carefully, then answer the questions.</i>
                                            </br>
                                            </br>&#160 &#160 A king liked to write poems, which he thought were very good. As he was the king, the people he showed his poems to always admired them.
                                            </br>&#160 &#160 One day he showed some of his poems to a philosopher, who did not like them at all and told the king that the poems were very poor. This made the king so angry that he immediately sent the philosopher to prison.
                                            </br>&#160 &#160 Some time passed, and the king freed freed the philosopher. A week later, the king invited him to dinner. He showed the philosopher a new poem he had just written and asked the man what he thought of it. The philosopher turned to the soldiers who were standing at the door and said, "Take me back to prison."
                                        </div>
                                       </div>
                                    </div>

                                    <!--Card-->
                                    <div class="card">
                                        <div class="card-link">
                                            
                                            <h3 class="card-title">29.&#160&#160 The text is mainly about ... </h3>
                                                    <form name="m1" action="" method="post">
                                                
                                                        <br><input type="radio" name="rb1" value="0"> (A) &#160  the prison and the philosopher
                                                        <br><input type="radio" name="rb1" value="1"> (B) &#160  the people who admired the king's poems
                                                        <br><input type="radio" name="rb1" value="0"> (C) &#160  the king and his critic
                                                        <br><input type="radio" name="rb1" value="0"> (D) &#160  the dinner at the king's palace
                                                    </form>  
                                        </div>     
                                    </div>
                                    <!--// Card-->

                                    <!--Card-->
                                    <div class="card">
                                        <div class="card-link">
                                            
                                            <h3 class="card-title">30.&#160&#160 Why did the philosopher ask the soldiers to take him to prison? </h3>
                                                    <form name="m1" action="" method="post">
                                                
                                                        <br><input type="radio" name="rb1" value="0"> (A) &#160  Because he didn't like the king's dinner
                                                        <br><input type="radio" name="rb1" value="1"> (B) &#160  Because he didn't like the king
                                                        <br><input type="radio" name="rb1" value="0"> (C) &#160  Because he didn't want to hear the king's poor poems any more
                                                        <br><input type="radio" name="rb1" value="0"> (D) &#160  Because he didn't want to be in the king's palace
                                                    </form>  
                                        </div>     
                                    </div>
                                    <!--// Card-->

            <a th:href="@{#header}" class="test-btn-next"> Кийинки </a>
        </div>
    </div>

<footer th:include="footer"></footer>
<script th:src="@{/js/timer.js}"></script>
</body>
</html>